include /blocks/classes/classes
include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts
include /blocks/img/img
include /blocks/appointment-form/appointment-form

-
  const rootPath = process.env.NODE_ENV === 'pages' ? 'https://yazv.net' : ''

doctype html
html(lang='ru')
  include ../head/head
  body.page
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
    +appointmentForm({
      name: 'Запись онлайн',
      inputs: [
        { name: 'id', type: 'hidden' },
        { type: 'text', id: 'POPUP_NAME', name: 'NAME', label: 'Ваше имя <span style="color: #f00">*</span>', required: true },
        { type: 'tel', id: 'POPUP_PHONE', name: 'PHONE', label: 'Контактный телефон <span style="color: #f00">*</span>', required: true },
        { type: 'textarea', id: 'POPUP_MESSAGE', name: 'MESSAGE', label: 'Сообщение', required: true, placeholder: '' },
        { type: 'checkbox', id: 'licenses_popup', name: 'licenses_popup', label: ['Я согласен на ', {tag: 'a', attr: {'href': '/include/licenses_detail.php', target: '_blank'}, content: 'обработку персональных данных'}], required: true, checked: true },
      ]
    })#appointment-form
  +scripts(['script.js'])
