.slider-info
  font-size .875rem
  &__slide
    display flex
    align-items stretch
    min-height 27.75rem
    background-position center
    background-size cover
    @media (max-width point-l - 1)
      text-align center
  &__text
    padding (basePadding * 2) basePadding (basePadding * 3) (basePadding * 6)
    @media (max-width point-l - 1)
      padding basePadding
      padding-bottom (basePadding * 3)
  &__image
    display flex
    justify-content center
    align-items center
    & img
      max-width 100%
      max-height 500px
    @media (max-width point-l - 1)
      display none
  .splide
    &__arrow
      width 3rem
      height 3rem
      background-color rgba(#fff, .5)
      opacity 0
      backdrop-filter blur(8px)
      transition opacity .4s, background-color .4s
      &:hover
        background-color rgba(#1da539, .75)
        transition background-color .1s
        & svg
          transition fill .1s
          fill #fff
      & svg
        width 1.75rem
        height 1.75rem
        transition fill .4s
      @media (max-width point-l - 1)
        top unset
        bottom .125rem
        background-color transparent
        opacity 1
        backdrop-filter none // @stylint ignore
        transform unset
        transition backdrop-filter .4s, background-color .4s
        &:hover
          backdrop-filter blur(8px)
          transition background-color .1s, backdrop-filter .1s
        &--prev
          left 0
        &--next
          right 0
    &__pagination
      bottom basePadding
      @media (max-width point-l - 1)
        bottom 1.1875rem
    &__pagination__page
      background-color rgba(127, 127, 127, .35)
      &.is-active
        background-color #1da539
  &:hover .splide__arrow
    opacity 1
    transition opacity .1s, background-color .4s
  h2
    color #333

    a
      text-decoration none
      color inherit
    @media (max-width point-l - 1) 
      font-size 1.25rem
