a[href^='#'].close-button
  position absolute
  top (basePadding * 3)
  right (basePadding * 2)
  display flex
  justify-content center
  align-items center
  width 2.5rem
  height 2.5rem
  text-decoration none
  background-color transparent
  border-radius 1.5rem
  transition background-color .4s
  &::before
  &::after
    content ''
    position absolute
    top 50%
    left 50%
    width 1.5rem
    height .25rem
    background-color var(--font-color)
    transform translate(-50%, -50%)
    transform-origin 0 0 0
    transition background-color .4s
  &::before
    transform rotate(45deg) translate(-50%, -50%)
  &::after
    transform rotate(-45deg) translate(-50%, -50%)
  &:hover
    background-color var(--link-color-hover)
    transition background-color .1s
    &::before
    &::after
      background-color #f6f9fa
      transition background-color .1s
