mixin slider
  .splide&attributes(attributes)
    .splide__track
      .splide__list
        -
          inner = true
          itemClass = []
          attributes.class ? attributes.class.split(' ').forEach((item) => itemClass.push(`${item}__slide`)) : false
          itemClass.join(' ')
        block
        - inner = undefined

mixin slide
  if inner
    li.splide__slide(class != itemClass)&attributes(attributes)
      block
