include /blocks/form-input/form-input
include /blocks/appointment-form/appointment-form

mixin doctor(item)

  .doctor&attributes(attributes)
    .doctor__image: a(href='doctor.html'): img(src != item.img alt != item.name title != item.name)
    .doctor__name: a(href='doctor.html') !{item.name}
    .doctor__description !{item.description}
    .doctor__button: +appointmentButton({ data: { id: item.id } }) Запись онлайн
