.doctor
  display flex
  flex-direction column
  align-items center
  text-align center
  &__image
    img, a
      display block
  &__name
    font-size font-l
    font-weight bold
    color #333

    a
      display block
      padding-top .75rem
      text-decoration none
      color #000
      &:hover
        color #666
  &__description
    margin-top .75rem
    padding-x basePadding
    font-size font-xs
    line-height 1.5
    color var(--font-color-secondary)
  &__button
    margin-top 1.5rem
