include /blocks/form-input/form-input

mixin appointmentForm(form = {})
  .appointment-form&attributes(attributes)
    form.form.appointment-form__inner.new_question
      a(href='#').close-button.appointment-form__close
      +pageSubsection: .appointment-form__title !{form.name || 'Запись онлайн'}
      +pageSubsection
        each item in form.inputs
          +formInput(item)
      +pageSubsection: button(type='submit').btn !{form.submit || 'Отправить'}

mixin appointmentButton(item = {})
  if attributes.href
    - href = attributes.href
  else
    - href = item.fromId || '#appointment-form'
  - dataset = item.data || {}
  each item, i in dataset
    - attributes[`data-${i}`] = item
  a(href != href).btn.btn--wide.appointment-button&attributes(attributes)
    block
