.appointment-form
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 9000
  display none
  justify-content center
  align-items center
  background-color rgba(#3a3f44, .7)
  &--active
    display flex
  &__inner
    position relative
    overflow-y auto
    width 32rem
    max-width 100%
    max-height 100%
    padding (basePadding * 3) (basePadding * 2)
    background-color #f6f9fa
  &__title
    @extend h3
