ul.pagination
  li.pagination__item.pagination__item--prev: span ←
  li.pagination__item.pagination__item--active
    span 1
  li.pagination__item
    a(href='') 2
  li.pagination__item
    a(href='') 3
  li.pagination__item.pagination__item--next: a(href='') →
