.gallery-item
  position relative
  display block
  &::before
    content ''
    position absolute
    inset 0
    z-index 2
    background-color #000
    opacity 0
    transition opacity .4s
  &::after
    content ''
    position absolute
    right 8px
    bottom 8px
    z-index 3
    width 32px
    height 32px
    background-color rgba(255, 255, 255, .5)
    background-image var(--icon-zoom)
    background-repeat no-repeat
    background-position center
    background-size 24px
    border-radius 6px
    backdrop-filter blur(4px)
  &:hover::before
    opacity .25
    transition opacity .1s
  img
    position relative
    z-index 1
    display block
