.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  font-size font-xs
  font-weight 500
  line-height line-s

  h1 + &
    margin-top .5rem
  &__parent
    padding-right (basePadding /2)

    a
      color var(--link-secondary-color)
      &:hover
        color var(--link-secondary-color-hover)
  &__current
    color var(--font-color-secondary)
  &__separator
    border .25rem solid transparent
    border-left .25rem solid #cccccc
