.block-marked
  parMargin()
  padding (basePadding * 2) (basePadding * 1.5)
  background-color #f9fbfb
  border 1px solid #ecf2f4
  &--icon
    padding-left 6rem
    background-repeat no-repeat
    background-position 2rem center
    background-size 2rem
    @media (max-width point-l - 1)
      padding-top 6rem
      padding-left 2rem
      text-align center
      background-position center 2rem
  &--ask
    @extend .block-marked--icon

    background-image svgImport('svg/ask.svg')
