.footer-contacts
  .footer-contacts__item.footer-contacts__item--phone Запись на приём: 
    a(href='tel:+78126604963') +7 (812) 660-49-63
  .footer-contacts__item.footer-contacts__item--mail: a(href='mailto:dy.andreev@yazv.net') dy.andreev@yazv.net
  .footer-contacts__item.footer-contacts__item--address Санкт-Петербург, Петроградский район, Левашовский пр. 24
