mixin pageSubsection(settings = [])
  -
    const classList = []
    for ( let item of Object.entries(settings) ) {
      if (item[1]===true) classList.push(`page-subsection--${item[0]}`)
      else classList.push(`page-subsection--${item[0]}-${item[1]}`)
    }
    attributes.class ? classList.push(attributes.class) : false
  .page-subsection(class != classList id != attributes.id)
    block
