.gov-org
  display flex
  flex-direction column
  height 100%
  padding 1.5rem
  border 1px solid #efefef
  &__image
    align-self center
  &__title
    margin-top 1rem
    margin-bottom auto
    font-weight bold
  &__subtitle
    margin-top 1.5rem
    font-size .875rem
    color #999999
  &__property
    margin-top .25rem
    font-size .875rem
