/* Fira Sans */

@font-face
  font-family 'PT Sans Caption'
  src url('../fonts/PT-Sans_Caption-Regular.ttf')
  src local('PT Sans Caption'), url('../fonts/PT-Sans_Caption-Regular.woff2') format('woff2'), url('../fonts/PT-Sans_Caption-Regular.woff') format('woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'PT Sans Caption'
  src url('../fonts/eot/PT-Sans_Caption-Bold.ttf')
  src local('PT Sans Caption'), url('../fonts/PT-Sans_Caption-Bold.woff2') format('woff2'), url('../fonts/PT-Sans_Caption-Bold.woff') format('woff')
  font-weight bold
  font-style normal
