// breakpoints

point-s = 480px
point-m = 840px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

containerWidth = 72rem

// font sizes

font-xxs = 0.625em
font-xs = 0.75em
font-s = 0.875em
font-m = 1em
font-l = 1.125em
font-xl = 1.25em
font-xxl = 1.375em
font-xxxl = 1.5em
// line-heights

line-xxs = 0.9375
line-xs = 1.125
line-s = 1.3125
line-m = 1.625
line-l = 1.6875
line-xl = 1.875
line-xxl = 2.0625
line-xxxl = 2.25

// base-padding
basePadding = 1rem

// functions
padding-x(n)
  padding-left n
  padding-right n
padding-y(n)
  padding-top n
  padding-bottom n
margin-x(n)
  margin-left n
  margin-right n
margin-y(n)
  margin-top n
  margin-bottom n

// blocks

parLike = 'p','.list-marked','.list-numbered','.table','.table-wrap','.figure', '.tabs', '.home-price', '.grid--par-alike', '.list-steps-illustrated', '.block-marked', '.before-after','.list-steps-illustrated', '.gallery', '.show-hide', '.table-comparison', '.list-links', '.product-characteristics','.contacts__map', '.footer-socials', '.link-icons', '.orders-history-item', '.before-after'
parMargin()
  for item in parLike
    {item} + &
      margin-top font-s
  h1 + &
    margin-top font-s
  h2 + &
    margin-top .5625em
  h3 + &
    margin-top .3125em
  h4 + &
    margin-top .125em
