html

  --font-color #4e4e4e

  --font-color-secondary #999

  --link-color #188b30
  --link-color-hover #1da539

  --link-secondary-color #7c776c
  --link-secondary-color-hover #3d3d3d

  --icon-phone svgImport('svg/phone.svg')
  --icon-zoom svgImport('svg/zoom.svg')
  --icon-address svgImport('svg/address.svg')
  --icon-mail svgImport('svg/mail.svg')
