.form-input
  position relative
  padding-top .75rem
  & + &
    margin-top 1.5rem
  &--checkbox
    position static
    display flex
    & ^[-1]__label
      position static
      order 2
    & ^[-1]__field
      flex-shrink 0
      order 1
      width auto
      height auto
      margin-right (basePadding/2)
  &--captcha
    display flex
    flex-direction column
    align-items stretch
  &--hidden
    margin 0
    padding 0
    ^[-1] + & // @stylint ignore
    & + ^[-1]
      margin-top 0
  &--invalid
    position relative
    & ^[-1]__field
      border-bottom-color #ffb2b2
      animation invalidBorder
      animation-duration 2s
    & ^[-1]__label
      color #ff8c8c
      transition transform .4s
      animation invalidColor
      animation-duration 2s
  &__row
    display flex
  &__captcha-image
    width 100%
    margin basePadding basePadding 0
  &__field
  &__select
    position relative
    z-index 2
    display block
    width 100%
    height 2.888888rem
    padding (basePadding/3*2) (basePadding/3*4)
    line-height 1.5
    background-color #fff
    border none
    border-bottom 1px solid #e7e7e8
    textarea&
      transition height .4s
      resize none
      &--clone
        position absolute
        bottom 0
        z-index -2
        opacity 0
    &:focus
    ^[-1]--fill & //@stylint ignore
      outline none
      &:not([type='checkbox']):not([type='radio']) + ^[-2]__label
        transform translateY(-1.25rem) scale(.75)
        transition transform .14s
  &__label
    position absolute
    top 1.625rem
    left (basePadding/3*4)
    z-index 3
    color var(--font-color-secondary)
    cursor default
    transform-origin 0 0 0
    transition transform .4s, color .4s
  &__message
    position absolute
    bottom 0
    z-index 1
    width 100%
    padding (basePadding/3) (basePadding/3*4)
    font-size .75rem
    color #ff8c8c
    background-color #fffcfc
    transform translateY(100%)
    animation messageAppear, invalidColor, invalidBackground
    animation-duration .2s, 2s, 2s
    &--disappear
      animation messageDisappear
      animation-duration .6s
    span
      display block
  @keyframes messageAppear
    from
      opacity 0
      transform translateY(50%)
    to
      opacity 1
      transform translateY(100%)
  @keyframes messageDisappear
    from
      opacity 1
      transform translateY(100%)
    to
      opacity 0
      transform translateY(50%)
  @keyframes invalidBorder
    from
      border-bottom-color #ffb2b2
    25%
      border-bottom-color #ff4040
    to
      border-bottom-color #ffb2b2
  @keyframes invalidColor
    from
      color #ff8c8c
    25%
      color #ff4040
    to
      color #ff8c8c
  @keyframes invalidBackground
    from
      background-color #fffcfc
    25%
      background-color #fff2f2
    to
      background-color #fffcfc
