import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css"
@import "../../node_modules/flatpickr/dist/flatpickr.css"

html
  --scroll-padding-top 52px
  color var(--font-color)
  font-size 18px
  font-family 'PT Sans Caption', 'Helvetica Neue', 'Arial', sans-serif
  scroll-behavior smooth
  scroll-padding-top var(--scroll-padding-top)
  &.no-scroll
    overflow hidden
p
  font-size font-m
  line-height line-m
  parMargin()

h1
  font-size 2em
  font-weight bold
  line-height 1.29411765em
  color #333
  &.home-header
    font-size 3em
    @media (max-width point-l - 1)
      font-size 1.75em

h2
  font-size 2em
  font-weight bold
  line-height 1.29411765em
  color #37b44a
  h1 + &
    margin-top .4375rem
  for item in parLike
    {item} + &
      margin-top 1.385em

h3
  font-size  1.5em
  font-weight bold
  line-height 1.5em
  color #333
  &.home-header
    font-size 2.25em
  for item in parLike
    {item} + &
      margin-top 1.25em
  h2 + &
    margin-top .1875em
h4
  font-size  1.125em
  line-height 1.492em
  font-weight BOLD
  position relative
  &.home-header
    font-size 1.6785em
  for item in parLike
    {item} + &
      margin-top 3em
  h3 + &
    margin-top .25em
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
  height auto
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
a
  color var(--link-color)
  text-decoration underline
  transition color .2s
  &:hover
  &:focus
  &:active
    color var(--link-color-hover)
    transition none
  &.link-secondary
    color var(--link-secondary-color)
    &:hover
    &:focus
    &:active
      color var(--link-secondary-color-hover)
  &.back
    position relative
    min-height 1.25rem
    padding-left 2rem
    line-height 1.25rem
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 1.125rem
      height 1.125rem
      font-size font-s
      font-weight bold
      background-color var(--link-color)
      background-image svgImport('svg/back-mask.svg')
      background-position center
      background-repeat no-repeat
      background-size 1.5rem
      transition background .2s
    &:hover::before
      background-color var(--link-color-hover)
      transition none
  &.tel
    text-decoration none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  line-height font-m
  text-align center
  text-decoration none
  color #fff
  background-color var(--link-color)
  transition background-color .2s
  border none
  border-radius (basePadding * 2)
  font-size font-m
  &:hover
  &:focus
  &:active
    color #fff
    background-color var(--link-color-hover)
    transition none
  a&
    border-bottom none
    text-decoration none
  &--wide
    a&
    button&
    input[type='button']&
      width 100%
.page
  --page-margin-top 0
  display flex
  flex-direction column
  min-height 100vh
  @media (min-width point-l)
    margin-top var(--page-margin-top)
  @media (max-width point-l - 1)
    margin-top 5.725rem
main
  flex-grow 1
.container
  display flex
  justify-content center
  padding-left calc(100vw - 100%)
.content
  max-width containerWidth
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
import('../blocks/**/*')
