.review
  position relative
  padding (basePadding * 2) (basePadding * 2.5) (basePadding * 2) (basePadding * 6)
  border 1px solid rgba(#eee, .5)
  @media (max-width point-m - 1)
    padding (basePadding * 2) basePadding
  &::before
    content ''
    position absolute
    top (basePadding * 2)
    left (basePadding * 2)
    width (basePadding * 2)
    height (basePadding * 2 / 1.375)
    background-color var(--link-color)
    background-image svgImport('svg/quote.svg')
    background-size cover
    @media (max-width point-m - 1)
      content unset
  & + &
    margin-top (basePadding * 2)
  &__date
    font-size font-s
    color var(--font-color-secondary)
  &__author
    font-size font-l
    font-weight bold
    color #333

    ^[-1]__date + &
      margin-top .25rem
  &__body
    margin-top 1rem

    img
      float right
      padding-bottom 1rem
      padding-left 1rem
      @media (max-width point-l - 1)
        float none
        margin 0 auto 1rem
        padding-bottom 0
        padding-left 0
