mixin review(item)
  .review&attributes(attributes)
    .review__header
      .review__date !{item.date}
      .review__author !{item.author}
    .review__body
      +grid({ 'padding': 'y', 'justify': 'center' })
        - bodySizes = item.img ? { l: 9, m: 8, xs: 12 } : { xs: 12 }
        +cell(bodySizes)
          block
        if item.img
          +cell({ l:3, m: 4, s: 6, xs: 8 }): a(href != item.detail data-fslightbox): img(src != item.img alt='')
