.footer
  padding-top 2.75rem
  padding-bottom 2.5rem
  background-color #f1f4f5
  &__bottom
    color #999

    a
      text-decoration none
      &:not(:hover)
        color #999
  .page-subsection + .page-subsection&__bottom
    padding-top (basePadding * 2.375)
    border-top 1px solid #e7edf0
