mixin tabs(settings = {names:[]})
  - global.tabs = []
  .tabs(class != attributes.class id != attributes.id)&attributes(attributes)
    block
    .tabs__labels
      each item in global.tabs
        .tabs__label !{item.name}
    .tabs__contents
      each item in global.tabs
        .tabs__item
          - item.block();
  - delete global.tabs

mixin tab(settings = {name:''})
  - global.tabs.push({block: this.block, name: settings.name})
