.tabs
  parMargin()
  &__labels
    display flex
    flex-wrap wrap
    margin -(basePadding/3)
    margin-bottom 0
  &__label
    margin (basePadding/3)
    margin-bottom 0
    padding (basePadding) (basePadding*2)
    font-size 1em
    font-weight 700
    line-height 1.1em
    text-transform none
    text-decoration none
    color var(--font-color-secondary)
    background-color #f7f9fa
    border 1px solid #ecf2f4
    border-radius .125rem
    cursor pointer
    transition color .4s
    &:hover:not(&--active)
      color var(--link-color-hover)
      transition color .1s
    &--active
      position relative
      color var(--font-color)
      background-color #fff
      cursor default
      &::before
        content ''
        position absolute
        top 0
        right 0
        left 0
        height .125rem
        background-color var(--link-color-hover)
      @supports (text-decoration-style dashed)
        text-decoration none
  &__item
    display none
    padding-top (basePadding*2)
    &--active
      display block
