extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/doctor/doctor
include /blocks/appointment-form/appointment-form
include /blocks/properties/properties

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Контакты' }) Контакты
  +pageSection: .container: .content
    +grid({ 'padding': 'y' })
      +cell({ l: 4, m: 4, xs: 12 })
        +pageSubsection: picture
          source(srcset = rootPath + '/upload/zdanie.webp' type='image/webp')
          img(loading='lazy' decoding='async' src= rootPath + 'https://yazv.net/upload/zdanie.jpg' width='1440' height='900')
        +pageSubsection: +properties([
          {
            name: 'Адрес',
            body: { tag: 'p', content: 'Санкт-Петербург, Петроградский район, Левашовский пр. 24' },
          },
          {
            name: 'Телефон',
            body: { tag: 'p', content: '+7 (921) 915-74-95' },
          },
          {
            name: 'E-mail',
            body: { tag: 'p', content: '<a href="mailto:dy.andreev@yazv.net">dy.andreev@yazv.net</a>' },
          },
          {
            name: 'Режим работы',
            body: { tag: 'p', content: 'Ежедневно: с 9:00 до 21:00' },
          },
        ])
        +pageSubsection
          +grid(): +cell({ l: 8, m: 10, xs: 12 }): +appointmentButton(href='#record_online') Запись онлайн
          +appointmentForm({
            name: 'Запись онлайн',
            inputs: [ 
              { name: 'id', type: 'hidden' },
              { type: 'text', id: 'POPUP_NAME', name: 'NAME', label: 'Ваше имя <span style="color: #f00">*</span>', required: true },
              { type: 'tel', id: 'POPUP_PHONE', name: 'PHONE', label: 'Контактный телефон <span style="color: #f00">*</span>', required: true },
              { type: 'text', id: 'POPUP_MESSAGE', name: 'MESSAGE', label: 'Удобные дата и время', required: true, placeholder: '', id: 'contacts-appointment-datetime' },
              { type: 'checkbox', id: 'licenses_popup', name: 'licenses_popup', label: ['Я согласен на ', {tag: 'a', attr: {'href': '/include/licenses_detail.php', target: '_blank'}, content: 'обработку персональных данных'}], required: true, checked: true },
            ]
          })#record_online
      +cell({ l: 8, m: 8, xs: 12 })
        +pageSubsection: img(src='https://dummyimage.com/976x500&text=Карта+будет+вставлена+через+битрикс')
        +pageSubsection: p Наша клиника уверена в своих силах, поэтому мы даем письменные гарантии на полное заживление язв в результате проведенного лечения. В противном случае клиника обязуется вернуть деньги, потраченные на лечение. Большинство пациентов, вылеченных в нашей клинике, длительно (некоторые – в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии. Интересно, что все они впоследствии были вылечены нами амбулаторно – ни дня постельного режима не потребовалось.
        +pageSubsection
          form.form.new_question
            +pageSubsection: .appointment-form__title Запись онлайн
            +pageSubsection
              +grid({ 'padding': 'y' })
                +cell({ l: 6, xs: 12 }): +formInput({ type: 'text', id: 'NAME', name: 'NAME', label: 'Ваше имя <span style="color: #f00">*</span>', required: true })
                +cell({ l: 6, xs: 12 }): +formInput({ type: 'tel', id: 'PHONE', name: 'PHONE', label: 'Контактный телефон <span style="color: #f00">*</span>', required: true })
                +cell({ l: 6, xs: 12 }): +formInput({ type: 'email', id: 'EMAIL', name: 'EMAIL', label: 'E-mail:', required: true })
                +cell({ l: 6, xs: 12 }): +formInput({ type: 'text', id: 'NEED_PRODUCT', name: 'NEED_PRODUCT', label: 'Интересующая услуга: ', required: true })
                +cell({ xs: 12 }): +formInput({ type: 'textarea', id: 'POPUP_MESSAGE', name: 'MESSAGE', label: 'Сообщение', required: true, placeholder: '' })
                +cell({ xs: 12 }): +formInput({ type: 'checkbox', id: 'licenses', name: 'licenses', label: ['Я согласен на ', {tag: 'a', attr: {'href': '/include/licenses_detail.php', target: '_blank'}, content: 'обработку персональных данных'}], required: true, checked: true })
            +pageSubsection: button(type='submit').btn Отправить
