extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/breadcrumbs/breadcrumbs
include /blocks/doctor/doctor
include /blocks/appointment-form/appointment-form
include /blocks/properties/properties

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection({ 'padding': 'y', color: 'gray' }): .container: .content
    h1 Андреев Дмитрий Юрьевич
    +breadcrumbs({ parents: [ 'Главная', 'Сотрудники', 'Санкт-Петербургский Центр флебологии и лечения сложных трофических язв' ], current: 'Андреев Дмитрий Юрьевич' })
  +pageSection: .container: .content
    +grid({ padding: 'y' })
      +cell({ l: 3, m: 6, xs: 12 }): +img()(src='https://dummyimage.com/792x792')
      +cell({ l: 6, m: 6, xs: 12 })
        +properties([
          {
            name: 'Должность',
            body: { tag: 'p', content: 'Сосудистый хирург, флеболог, кандидат медицинских наук, член Европейского общества сосудистой хирургии. Заведующий Центром Флебологии и лечения сложных трофических язв. Автор более 60 научных работ и 7 патентов РФ. Проходил стажировку в лучших клиниках Западной Европы.' },
          },
          {
            name: 'Стаж работы по специальности',
            body: { tag: 'p', content: 'Более 20 лет' },
          }
        ])
      +cell({ l: 3, m: 6, xs: 12 })
        +pageSubsection
          p: +appointmentButton({ id: 19 }) Запись онлайн
          p.clarification Запишитесь на прием к доктору в удобное для Вас время
        +pageSubsection
          p.text-align--center(style='color: #00a650') Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:  8 (921) 915-74-95
  +pageSection: .container: .content: +grid(): +cell({ l: 9, xs: 12 })
    span(style='font-size: 12pt;')
    span(style='font-size: 12pt;')
    span(style='font-size: 12pt;')
    p
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      b
        span(style='font-size: 12pt;') Направления деятельности:
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Оригинальные авторские методики лечения трофических язв нижних конечностей, позволяющие заживить практически любую язву независимо от ее размеров и давности существования. Вылечил более 2000 пациентов с тяжелыми трофическими язвами различной природы.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Безоперационное и оперативное лечение варикозной болезни нижних конечностей любой степени сложности.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Лечение рецидивов варикозной болезни (например, после операций, выполненных по устаревшим способам) – с использованием, в том числе, и авторских запатентованных методик.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Консервативное и оперативное лечение флеботромбозов и тромбофлебитов любой степени сложности, с использованием, в том числе, и авторских запатентованных методик.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Владеет различными методиками склеротерапии, позволяющими убирать варикозно расширенные вены с помощью инъекций специальных препаратов.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Консервативное лечение заболеваний артерий нижних конечностей.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - Консервативное лечение хронической венозной недостаточности.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      b
        span(style='font-size: 12pt;') Научная деятельность:
      br
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | Автор более 60 научных работ и 6 патентов РФ. Выступает с докладами на российских и международных конференциях, проводит мастер классы по лечению сосудистых заболеваний и их осложнений.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      b
        span(style='font-size: 12pt;') Образование:
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      b
        span(style='font-size: 12pt;')
          | Санкт-Петербургский государственный медицинский университет им. акад. И.П. Павлова (1990-1996)
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - 1996-1997 - интернатура по специальности "Общая хирургия" в Санкт-Петербургском государственном медицинском университете им. акад. И.П. Павлова.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - 1997-1999 - ординатура по специальности "Сердечно-сосудистая хирургия" в Санкт-Петербургском государственном медицинском университете им. акад. И.П. Павлова. Проходил на отделении сосудистой хирургии (зав. – Владимир Владимирович Шломин) ГМПБ №2.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - 2001 и 2004 – стажировка на отделении сосудистой хирургии Istituto Clinico Mater Domini (Милан, Италия) - по приглашению ведущего сосудистого хирурга Италии проф. Alessandro Costantini Brancadoro.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
        | - 1999-2002 - аспирантура по специальности "Сердечно-сосудистая хирургия" в Санкт-Петербургском государственном медицинском университете им. акад. И.П. Павлова.
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
      span(style='font-size: 12pt;')
    p(style='text-align: justify;')
      span(style='font-size: 12pt;')
      span(style='font-size: 14pt;')
        span(style='font-size: 12pt;')
          | - 2004 – стажировка на отделении сосудистой хирургии U.Z. Gasthuisberg (Университетская Клиника Брюсселя, Бельгия) – по приглашению ведущего сосудистого хирурга Европы, президента Европейского общества сосудистой хирургии проф. André Nevelsteen.
    p
      span(style='font-size: 14pt;')
    span(style='font-size: 14pt;')
    p
      span(style='font-size: 14pt;')
      a.fancybox(href=rootPath + '/upload/medialibrary/357/35739ead40dabbe46b7beacc05301a84.JPG')
        picture
          source(srcset='/.webp' type='image/webp')
        img.fancybox(width='276' alt='2 — копия.JPG' src=rootPath + '/upload/medialibrary/357/35739ead40dabbe46b7beacc05301a84.JPG' height='410' v:shapes='Рисунок_x0020_1' title='2 — копия.JPG')
      span(style='font-size: 14pt;')
    span(style='font-size: 14pt;')
    p(style='text-align: justify;')
      span(style='font-size: 14pt;')
        span(style='font-size: 12pt;')
          | 2001 год. Андреев Д.Ю. оперирует в Istituto Clinico Mater Domini (Милан, Италия).
      span(style='font-size: 12pt;')
    span(style='font-size: 12pt;')
    p
      span(style='font-size: 12pt;')
    span(style='font-size: 12pt;')
    p(style='text-align: center;')
      span(style='font-size: 12pt;')
    p(style='text-align: left;')
    p(style='text-align: center;')
      span(style='font-size: 14pt; color: #00a650;')
        b ПАТЕНТЫ, ДИПЛОМЫ И СЕРТИФИКАТЫ АНДРЕЕВА Д.
      span(style='font-size: 14pt; color: #00a650;')
        b Ю.
    p(style='text-align: center;')
    p
    p
      b
        a.fancybox(href=rootPath + '/upload/files_andreev/diplom.jpg')
          picture
            source(srcset=rootPath + '/upload/main_mozaika/new/diplom.webp' type='image/webp')
            img.fancybox(width='702' src=rootPath + '/upload/main_mozaika/new/diplom.jpg' height='464')
        br
    p
      br
    p
      b
        a.fancybox(href=rootPath + '/upload/files_andreev/patent1.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/patent1.webp' type='image/webp')
            img.fancybox(width='282' src=rootPath + '/upload/files_andreev/patent1.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/patent2.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/patent2.webp' type='image/webp')
            img.fancybox(width='272' src=rootPath + '/upload/files_andreev/patent2.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/patent3.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/patent3.webp' type='image/webp')
            img.fancybox(width='139' src=rootPath + '/upload/files_andreev/patent3.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/patent4.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/patent4.webp' type='image/webp')
            img.fancybox(width='140' src=rootPath + '/upload/files_andreev/patent4.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/patent5.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/patent5.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/patent5.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/patent6.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/patent6.webp' type='image/webp')
            img.fancybox(width='144' src=rootPath + '/upload/files_andreev/patent6.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/patent7.jpg')
          picture
            source(srcset=rootPath + '/upload/patent7.webp' type='image/webp')
            img(width='144' src=rootPath + '/upload/patent7.jpg' height='204')
        br
    p
      br
    p
      b
        a.fancybox(href=rootPath + '/upload/files_andreev/01.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/01.webp' type='image/webp')
            img.fancybox(width='282' src=rootPath + '/upload/files_andreev/01.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/02.jpg')
          picture
            source(srcset=rootPath + '/upload/02.webp' type='image/webp')
            img.fancybox(width='282' src=rootPath + '/upload/02.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/03.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/03.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/03.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/04.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/04.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/04.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/05.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/05.webp' type='image/webp')
            img.fancybox(width='143' src=rootPath + '/upload/files_andreev/05.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/06.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/06.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/06.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/07.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/07.webp' type='image/webp')
            img.fancybox(width='281' src=rootPath + '/upload/files_andreev/07.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/08.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/08.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/08.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/09.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/09.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/09.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/11.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/11.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/11.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/10.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/10.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/10.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/12.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/12.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/12.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/13.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/13.webp' type='image/webp')
            img.fancybox(width='282' src=rootPath + '/upload/files_andreev/13.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/14.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/14.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/14.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/15.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/15.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/15.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/16.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/16.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/16.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/17.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/17.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/17.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/18.jpg' target='_blank')
          picture
            source(srcset=rootPath + '/upload/18.webp' type='image/webp')
            img.fancybox(width='282' src=rootPath + '/upload/18.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/19.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/19.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/19.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/20.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/20.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/20.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/21.jpg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/21.webp' type='image/webp')
            img.fancybox(width='140' src=rootPath + '/upload/files_andreev/21.jpg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/22.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/22.webp' type='image/webp')
            img.fancybox(width='140' src=rootPath + '/upload/files_andreev/22.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/23.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/23.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/23.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/24.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/24.webp' type='image/webp')
            img.fancybox(width='139' src=rootPath + '/upload/files_andreev/24.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/25.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/25.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/25.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/26.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/26.webp' type='image/webp')
            img.fancybox(width='139' src=rootPath + '/upload/files_andreev/26.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/27.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/27.webp' type='image/webp')
            img.fancybox(width='139' src=rootPath + '/upload/files_andreev/27.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/28.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/28.webp' type='image/webp')
            img.fancybox(width='139' src=rootPath + '/upload/files_andreev/28.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/29.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/29.webp' type='image/webp')
            img.fancybox(width='143' src=rootPath + '/upload/files_andreev/29.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/30.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/30.webp' type='image/webp')
            img.fancybox(width='141' src=rootPath + '/upload/files_andreev/30.jpeg' height='200')
        a.fancybox(href=rootPath + '/upload/files_andreev/32.jpeg')
          picture
            source(srcset=rootPath + '/upload/files_andreev/32.webp' type='image/webp')
            img.fancybox(width='282' src=rootPath + '/upload/files_andreev/32.jpeg' height='200')
      a.fancybox(href='http://yazv.net/upload/39.jpeg')
        picture
          source(srcset=rootPath + '/upload/39.webp' type='image/webp')
          img(width='283' src=rootPath + '/upload/39.jpeg' height='200')
      a.fancybox(href=rootPath + '/upload/files_andreev/33.jpeg')
        picture
          source(srcset=rootPath + '/upload/files_andreev/33.webp' type='image/webp')
          img.fancybox(width='288' src=rootPath + '/upload/files_andreev/33.jpeg' height='200')
      a.fancybox(href=rootPath + '/upload/files_andreev/34.jpeg')
        picture
          source(srcset=rootPath + '/upload/files_andreev/34.webp' type='image/webp')
          img.fancybox(width='283' src=rootPath + '/upload/files_andreev/34.jpeg' height='200')
      a.fancybox(href=rootPath + '/upload/files_andreev/35.jpeg')
        picture
          source(srcset=rootPath + '/upload/files_andreev/35.webp' type='image/webp')
          img.fancybox(width='283' src=rootPath + '/upload/files_andreev/35.jpeg' height='200')
      a.fancybox(href=rootPath + '/upload/files_andreev/36.jpeg')
        picture
          source(srcset=rootPath + '/upload/files_andreev/36.webp' type='image/webp')
          img.fancybox(width='283' src=rootPath + '/upload/files_andreev/36.jpeg' height='200')
      a.fancybox(href=rootPath + '/upload/files_andreev/37.jpeg')
        picture
          source(srcset=rootPath + '/upload/files_andreev/37.webp' type='image/webp')
          img.fancybox(width='283' src=rootPath + '/upload/files_andreev/37.jpeg' height='200')
      a.fancybox(href=rootPath + '/upload/files_andreev/38.jpeg')
        picture
          source(srcset=rootPath + '/upload/files_andreev/38.webp' type='image/webp')
          img.fancybox(width='283' src=rootPath + '/upload/files_andreev/38.jpeg' height='200')
    p

  +pageSection: .container: .content: a(href='').back Список сотрудников
