extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/tabs/tabs
include /blocks/question/question
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Вопросы и ответы' }) Вопросы и ответы
  +pageSection(): .container: .content: +blockMarked({ 'color': 'light', 'ask': true }): +grid({ 'padding': 'y', 'justify': 'center', 'align': 'center' })
    +cell({ l: 9, m: 8, xs: 12 })
      p
        strong Не нашли ответа на свой вопрос?
        br
        | Свяжитесь с нами, и мы предоставим необходимую информацию.
    +cell({ l: 3, m: 4, xs: 10 })
      +appointmentButton()(href='#ask-form') Задать вопрос
      +appointmentForm({
        name: 'Задать вопрос',
        inputs: [
          { type: 'text', name: 'NAME', id: 'ASK_NAME', label: 'Ваше имя <span style="color: #f00">*</span>', required: true },
          { type: 'tel', name: 'PHONE', id: 'ASK_PHONE', label: 'Телефон <span style="color: #f00">*</span>', required: true },
          { type: 'email', name: 'EMAIL', id: 'ASK_EMAIL', label: 'E-mail' },
          { type: 'text', name: 'NEED_PRODUCT', id: 'ASK_NEED_PRODUCT', label: 'Интересующая услуга' },
          { type: 'textarea', name: 'MESSAGE', id: 'ASK_MESSAGE', label: 'Сообщение <span style="color: #f00">*</span>', required: true },
          { type: 'checkbox', id: 'licenses_popup', name: 'licenses_popup', label: ['Я согласен на ', {tag: 'a', attr: {'href': '/include/licenses_detail.php', target: '_blank'}, content: 'обработку персональных данных'}], required: true, checked: true },
        ],
        submit: 'Отправить',
      })#ask-form 
  +pageSection(): .container: .content
    p Есть вопросы? Задайте вопрос на сайте врачам.
    p Если у вас острая боль или срочный вопрос, Вы можете связаться с доктором по телефону: +7 (921) 915-74-95 Андреев Дмитрий Юрьевич
    p Работаем ежедневно с 09:00 до 21:00
  +pageSection(): .container: .content
    +tabs
      +tab({ name: 'Консультации' })
        +question({ header: 'Диабетическая стопа болит и не дает спать' })
          div
            b Вопрос:
              br
            br
            |  Здравствуйте,мне 70 лет и у меня по ночам жгучие боли в голенях ног,началось все это со ступней,на большом пальце правой ноги артроз и с него начались боли - как будто там нарыв, потом боли поднялись в голень,в середине сентября 19 года из за остеопении у мня был закрытый перелом лонной и седалищной костей таза и я лежала 2,5 месяца в кровати в позе лягушки, теперь сидалищная поджила,а лонная подживает,на правую ногу еще трудно вставать,но я хожу с палкой, палец заболел в середине ноября,а голень неделю назад У меня диабет с 2008 года 2 типа Сегодня сдала гликимированный гемоглабин ----5,37% (4,8О---5,90) Официально мне не поставили Диаб стопу,но судя по болямЭто так Язв пока нет , как ее лечить,наверное нужна консультация
            br
            br
            b Ответ:
            br
            br
            img(width='70' src='http://www.medcentergoroda.ru/images/avatars/normal/208.jpg' height='100' align='left')
            | Здравствуйте! Скорее всего, Ваши боли - неврологической природы. Для того, чтобы поставить окончательный диагноз, нужна очная консультация.
            br
            |  Записаться можно по телефону: +7 (921) 915-74-95
            br
            b
              i Наилучшие пожелания,
            br
            b
              i заведующий отделением флебологии и лечения трофических язв Андреев Д.Ю.
        +question({ header: 'Диабетическая стопа болит и не дает спать' })
          div
            b Вопрос:
              br
            br
            |  Здравствуйте,мне 70 лет и у меня по ночам жгучие боли в голенях ног,началось все это со ступней,на большом пальце правой ноги артроз и с него начались боли - как будто там нарыв, потом боли поднялись в голень,в середине сентября 19 года из за остеопении у мня был закрытый перелом лонной и седалищной костей таза и я лежала 2,5 месяца в кровати в позе лягушки, теперь сидалищная поджила,а лонная подживает,на правую ногу еще трудно вставать,но я хожу с палкой, палец заболел в середине ноября,а голень неделю назад У меня диабет с 2008 года 2 типа Сегодня сдала гликимированный гемоглабин ----5,37% (4,8О---5,90) Официально мне не поставили Диаб стопу,но судя по болямЭто так Язв пока нет , как ее лечить,наверное нужна консультация
            br
            br
            b Ответ:
            br
            br
            img(width='70' src='http://www.medcentergoroda.ru/images/avatars/normal/208.jpg' height='100' align='left')
            | Здравствуйте! Скорее всего, Ваши боли - неврологической природы. Для того, чтобы поставить окончательный диагноз, нужна очная консультация.
            br
            |  Записаться можно по телефону: +7 (921) 915-74-95
            br
            b
              i Наилучшие пожелания,
            br
            b
              i заведующий отделением флебологии и лечения трофических язв Андреев Д.Ю.
      +tab({ name: 'Общие вопросы' })
        +question({ header: 'Диабетическая стопа болит и не дает спать' })
          div
            b Вопрос:
              br
            br
            |  Здравствуйте,мне 70 лет и у меня по ночам жгучие боли в голенях ног,началось все это со ступней,на большом пальце правой ноги артроз и с него начались боли - как будто там нарыв, потом боли поднялись в голень,в середине сентября 19 года из за остеопении у мня был закрытый перелом лонной и седалищной костей таза и я лежала 2,5 месяца в кровати в позе лягушки, теперь сидалищная поджила,а лонная подживает,на правую ногу еще трудно вставать,но я хожу с палкой, палец заболел в середине ноября,а голень неделю назад У меня диабет с 2008 года 2 типа Сегодня сдала гликимированный гемоглабин ----5,37% (4,8О---5,90) Официально мне не поставили Диаб стопу,но судя по болямЭто так Язв пока нет , как ее лечить,наверное нужна консультация
            br
            br
            b Ответ:
            br
            br
            img(width='70' src='http://www.medcentergoroda.ru/images/avatars/normal/208.jpg' height='100' align='left')
            | Здравствуйте! Скорее всего, Ваши боли - неврологической природы. Для того, чтобы поставить окончательный диагноз, нужна очная консультация.
            br
            |  Записаться можно по телефону: +7 (921) 915-74-95
            br
            b
              i Наилучшие пожелания,
            br
            b
              i заведующий отделением флебологии и лечения трофических язв Андреев Д.Ю.
        +question({ header: 'Диабетическая стопа болит и не дает спать' })
          div
            b Вопрос:
              br
            br
            |  Здравствуйте,мне 70 лет и у меня по ночам жгучие боли в голенях ног,началось все это со ступней,на большом пальце правой ноги артроз и с него начались боли - как будто там нарыв, потом боли поднялись в голень,в середине сентября 19 года из за остеопении у мня был закрытый перелом лонной и седалищной костей таза и я лежала 2,5 месяца в кровати в позе лягушки, теперь сидалищная поджила,а лонная подживает,на правую ногу еще трудно вставать,но я хожу с палкой, палец заболел в середине ноября,а голень неделю назад У меня диабет с 2008 года 2 типа Сегодня сдала гликимированный гемоглабин ----5,37% (4,8О---5,90) Официально мне не поставили Диаб стопу,но судя по болямЭто так Язв пока нет , как ее лечить,наверное нужна консультация
            br
            br
            b Ответ:
            br
            br
            img(width='70' src='http://www.medcentergoroda.ru/images/avatars/normal/208.jpg' height='100' align='left')
            | Здравствуйте! Скорее всего, Ваши боли - неврологической природы. Для того, чтобы поставить окончательный диагноз, нужна очная консультация.
            br
            |  Записаться можно по телефону: +7 (921) 915-74-95
            br
            b
              i Наилучшие пожелания,
            br
            b
              i заведующий отделением флебологии и лечения трофических язв Андреев Д.Ю.
