extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: ['Главная'], current: 'Гарантия результата' }) Гарантия полного заживления язв
  +pageSection(): .container: .content
    p Мы уверены в своих силах, поэтому даем письменные гарантии на полное заживление язв в результате проведенного лечения. В противном случае клиника обязуется вернуть деньги, потраченные на лечение, в полном объеме.
  +pageSection(): .container: .content
    h2.text-align--center Пример гарантийного обязательства
    +grid({ 'par-like': true, 'justify': 'center' }): +cell({ l: 6, m: 8, s: 10, xs: 12 }): +img({
      name: 'example',
      path: '/images/company/garantiya-rezultata/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', mime: 'image/jpeg', orig: true },
      ],
    })(alt='Пример гарантийного обязательства')
  +pageSection(): .container: .content
    h2.text-align--center Забудьте об ампутации!
    p Нами вылечено более 2000 пациентов, считавшихся безнадежными. Большинство этих больных длительно (некоторые — в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии. Причем все они были вылечены нами амбулаторно — ни дня постельного режима не потребовалось
