extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/slider-info/slider-info
include /blocks/slider-works/slider-works
include /blocks/review/review
include /blocks/doctor/doctor
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Лечение лимфедемы конечностей' }) Лечение лимфедемы конечностей
  +pageSection(): .container: .content
    p
      strong Лимфедема конечностей
      |  — заболевание, возникающее вследствие нарушенного оттока лимфы.
    p Различают первичную и вторичную лимфедему.
    p Первичная лимфедема образуется вследствие врожденных нарушений развития лимфатической системы, часто является наследуемым заболеванием. Вторичная же возникает в результате какого-либо повреждения лимфатических путей. Это может произойти при рожистых воспалениях, при поражении лимфатических узлов метастазами, при механических повреждениях путей лимфооттока (например, после удаления подмышечных лимфоузлов при лечении рака молочной железы), при некоторых паразитарных заболеваниях (филяриоз) и вследствие других причин.
    p Заболевание проявляется прогрессирующими отеками конечностей, в финальных стадиях достигающих состояния «слоновости».
    p Врачами клиники используется высокоэффективная технология безоперационного лечения лимфедемы, позволяющая в кратчайшие сроки добиться устранения отеков конечностей и предотвратить их рецидивы.
    p Далее Вы можете видеть результаты лечения наших пациентов с лимфедемой.
  +pageSection(): .container: .content
    h2.text-align--center Результаты лечения лимфедемы (фотографии до и после лечения):
    +pageSubsection: +sliderWorks
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
  +pageSection: .container: .content
    +pageSubsection
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Запись на приём:
        a(href='tel:+78126604963').tel +7 (812) 660-49-63
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:
        br
        a(href='tel:+79219157495').tel 8 (921) 915-74-95
        |  Андреев Дмитрий Юрьевич
