extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/slider-info/slider-info
include /blocks/slider-works/slider-works
include /blocks/review/review
include /blocks/doctor/doctor
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Лечение варикозной болезни нижних конечностей' }) Лечение варикозной болезни нижних конечностей
  +pageSection(): .container: .content
    p
      strong Варикозная болезнь нижних конечностей
      |  — своеобразная «плата» человечества за прямохождение — поражает примерно 30% женщин и 10% мужчин. Не так давно было установлено, что в ее основе лежит генетический дефект, обуславливающий передающуюся из поколения в поколение неполноценность соединительной ткани. Именно поэтому варикозно (varix — узел, вздутие, лат.) расширенные вены на ногах «идут в паре» с геморроем, плоскостопием и с предрасположенностью к образованию грыж живота.
    p Факторами риска для варикозной болезни являются дисгормональные состояния (пре- и постменопауза, прием эстрогенов), беременности, особенности образа жизни и трудовой деятельности (длительное неподвижное пребывание в положении стоя и сидя, подъем тяжестей), ожирение (у мужчин — статистически недостоверно).
    p К первым признакам варикозной болезни — сосудистым «звездочкам» и «сеточкам» — вскоре присоединяются расширенные, выбухающие крупные подкожные вены. Появляются симптомы венозной недостаточности — быстрая усталость, тяжесть и судороги в ногах, распирающие боли в области расширенных вен, отечность голеней. При отсутствии адекватного лечения развиваются осложнения — трофические язвы, кровотечения из расширенных, «припаянных» к истончающейся коже венозных узлов, образование в варикозных венах тромбов — тромбофлебит. Последнее осложнение уже представляет реальную угрозу жизни, так как тромбы с током крови могут попадать в сердце и затем в легкие, что при большом размере тромбов приводит к смерти от удушья.
    p В связи с многообразием форм варикозной болезни необходимы и разные подходы к ее лечению. Однако до последнего времени практически единственным способом лечения всех вариантов варикозной болезни была операция — расширенные вены удалялись через множественные, довольно большие разрезы, что часто сопровождалось формированием неприглядных рубцов и быстрыми рецидивами заболевания. Такие же осложнения варикозного расширения вен, как трофические язвы, обрекали больных на длительные, часто многолетние страдания, связанные с необходимостью ежедневных болезненных перевязок.
    p К счастью, в последние десятилетия в методике лечения варикозной болезни произошли коренные изменения, которые можно сравнить с революцией. Во-первых, появились и получили официальное разрешение для использования в России склерозанты последнего поколения из группы детергентов. При введении их по специальной методике в варикозно расширенную вену возникает «склеивание» и исчезновение последней. Эта методика лечения варикозного расширения вен без операции получила название склеротерапии. Во-вторых, разработаны методики и инструменты для малотравматичных оперативных вмешательств. В отличие от традиционных операций они позволяют удалить расширенные вены практически бесследно. На следующей же день после такого вмешательства пациент может приступить к своей обычной повседневной деятельности. В-третьих, появились фармацевтические препараты и индивидуально подбираемый компрессионный трикотаж, позволяющие эффективно лечить варикозную болезнь консервативно. И, наконец, в клиническую практику вошли высокоинформативные и совершенно безопасные для пациента методы ультразвукового обследования вен — дуплексное и триплексное ангиосканирование. Результаты этих исследований и позволяют врачам предложить пациенту методику лечения, оптимальную для его варианта болезни.
    +textMarked({ tag: 'p', big: true, bold: true, color: 'green' }).text-align--center Важное отличие Центра Флебологии и лечения сложных трофических язв состоит в том, что наши специалисты владеют всеми способами лечения варикозной болезни, что позволяет нам подобрать каждому пациенту лучший для него метод.
    +textMarked({ tag: 'p', bold: true }).text-align--center Ниже представлены результаты лечения наших пациентов с варикозной болезнью.
  +pageSection(): .container: .content
    h2.text-align--center Результаты склеротерапии (фотографии до и после лечения):
    +pageSubsection: +sliderWorks
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
  +pageSection(): .container: .content
    h2.text-align--center Результаты оперативного лечения (фотографии до и после лечения):
    +pageSubsection: +sliderWorks
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
  +pageSection: .container: .content
    +pageSubsection
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Запись на приём:
        a(href='tel:+78126604963').tel +7 (812) 660-49-63
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:
        br
        a(href='tel:+79219157495').tel 8 (921) 915-74-95
        |  Андреев Дмитрий Юрьевич
