extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/slider-info/slider-info
include /blocks/slider-works/slider-works
include /blocks/review/review
include /blocks/doctor/doctor
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Эффективное лечение тромбозов вен' }) Эффективное лечение тромбозов вен
  +pageSection(): .container: .content
    p Образование тромбов (кровяных сгустков) в венах – грозное заболевание венозной системы, которое может приводить, в том числе и к летальному исходу. Ежегодно в России вследствие венозных тромбозов погибают десятки тысяч человек.
    p Непосредственными причинами развития тромбозов являются замедление кровотока, повреждение венозной стенки и повышенная свертываемость крови (так называемая «триада Вирхова»).
    p Различают тромбофлебиты – образование тромбов в подкожных венах и флеботромбозы, когда тромбы возникают в глубоких венах. Тромбофлебит может возникать в изначально здоровых венах (например, после внутривенных инъекций), но чаще происходит в варикозных венах, тогда используется термин «варикотромбофлебит».
    p До недавнего времени лечение венозных тромбозов проводилось исключительно в стационарах и состояло в длительном постельном режиме, введении гепарина и разнообразных компрессах. К сожалению, подобная тактика практикуется во многих больницах и поныне. Несмотря на то, что было убедительно показано, что при таком «лечении» флеботромбозов в лучшем случае будут разрушены клапаны глубоких вен, что приведет в дальнейшем к инвалидизации больного, а в худшем – закончится тромбоэмболией легочной артерии со смертельным исходом.
    p В нашей клинике для лечения флеботромбозов используется разработанная нами методика безоперационного лечения (в настоящее время патентуется), которая позволяет быстро лизировать («растворить») тромбы в венах конечностей любой локализации, при этом клапанный аппарат тромбированных вен будет сохранен (при условии своевременного начала лечения флеботромбоза). Госпитализации при этом не требуется, все лечение проводится амбулаторно.
    p Для лечение тромбофлебитов мы используем весь спектр современных технологий – от консервативного лечения до экстренных оперативных вмешательств, позволяющих одномоментно как избавить пациента от жизнеугрожающих тромбов, так и вылечить его от варикозной болезни, послужившей причиной тромбоза. Ниже представлены примеры пациентов с варикотромбофлебитом, вылеченных в нашей клинике.
    p.text-align--center: picture
      source(srcset= rootPath + '/upload/img_optim/b5ce4ab6f4ca649b0e2806f9e5d11e6d.webp' type='image/webp')
      img(src= rootPath + '/upload/img_optim/b5ce4ab6f4ca649b0e2806f9e5d11e6d.png' width='600' height='844' alt='')
    p Больной М., 48 лет. Поступил в клинику с диагнозом: «Восходящий варикотромбофлебит левой нижней конечности. Флотирующий тромб в зоне левого сафенофеморального соустья» (Флотирущий тромб – это тромб с подвижной верхушкой, которая готова оторваться; сафенофеморальное соустье – место, где поверхностная вена (большая подкожная вена) впадает в глубокую вену (в бедренную вену)).
    p Красными стрелками показана тромбированная большая подкожная вена на голени и бедре.
    p Пациенту была выполнена экстренная операция по удалению флотирующего тромба из зоны сафенофеморального соустья и тромбированных варикозно расширенных вен на голени и бедре:
    +grid({ 'par-like': true, padding: 'y', justify: 'center' })
      +cell({ l: 6, m: 8, s: 10,  xs: 12 }).text-align--center: picture
        source(srcset= rootPath + '/upload/img_optim/cd3646a98052a52aec96e814eb1a68fc.webp' type='image/webp')
        img.nsfw(src= rootPath + '/upload/img_optim/cd3646a98052a52aec96e814eb1a68fc.jpg' width='600' height='339' alt='')
      +cell({ l: 6, m: 8, s: 10,  xs: 12 }).text-align--center: picture
        source(srcset= rootPath + '/upload/img_optim/6e4cfb4e3701faa7ed6f67800aa48dbd.webp' type='image/webp')
        img.nsfw(src= rootPath + '/upload/img_optim/6e4cfb4e3701faa7ed6f67800aa48dbd.jpg' width='600' height='337' alt='')
    p Тот же больной М., 48 лет, через 3 месяца после этой операции:
    p.text-align--center: picture
      source(srcset= rootPath + '/upload/img_optim/23ff5464f1dd58fb73528f495b6d7e07.webp' type='image/webp')
      img(src= rootPath + '/upload/img_optim/23ff5464f1dd58fb73528f495b6d7e07.jpg' alt='' width='600' height='900')
    p На снимке ниже – еще одна наша пациентка 67 лет. Поступила в наш Центр с жалобами на боли в области воспаленных варикозных вен на бедре и голени. Варикозно расширенные вены на ногах появились много лет назад, но никакое лечение не предпринималось.
    p Примерно три недели назад пациентка заметила уплотнение и болезненность в зоне варикозных вен левой голени. Обратилась к хирургу в районную поликлинику, где ей был назначен постельный режим, антибиотики и компрессы с мазью Вишневского.
    p В результате такого лечения воспаление и тромбоз варикозных вен стали распространяться к паху, и, когда больная обратилась к нам, при УЗИ было видно, что тромб уже заполнил всю большую подкожную вену, «дорос» до паха и через сафенофеморальное соустье проник в бедренную вену, где «плавал» в потоке крови, готовый оторваться.
    p.text-align--center: picture
      source(srcset= rootPath + '/upload/img_optim/d09ad5b61f6891c34fe06665099d1e3f.webp' type='image/webp')
      img(src= rootPath + '/upload/img_optim/d09ad5b61f6891c34fe06665099d1e3f.jpg' width='600' height='986' alt='')
    p На снимке черным маркером размечены заполненные тромбами часть ствола большой подкожной вены и ее притоки на голени (с которых и началось воспаление). Выше красными стрелками показан тромб, распространившийся по стволу большой подкожной вены до паха. На коже в проекции этого тромба – видно лишь легкое покраснение.
    p Во время экстренной операции этой пациентке была спасена жизнь: из бедренной вены мы извлекли тромб, флотирующая (свободно «плавающая» в потоке крови) часть которого составляла более 6 сантиметров:
    p.text-align--center: picture
      source(srcset= rootPath + '/upload/img_optim/35a41677ce073c492d3289b9e5b34e4b.webp' type='image/webp')
      img.nsfw(src= rootPath + '/upload/img_optim/35a41677ce073c492d3289b9e5b34e4b.jpg' width='600' height='307' alt='')
  +pageSection: .container: .content
    +pageSubsection
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Запись на приём:
        a(href='tel:+78126604963').tel +7 (812) 660-49-63
      +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:
        br
        a(href='tel:+79219157495').tel 8 (921) 915-74-95
        |  Андреев Дмитрий Юрьевич
