extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/list-advantages/list-advantages
include /blocks/slider-info/slider-info
include /blocks/slider-works/slider-works
include /blocks/review/review
include /blocks/doctor/doctor
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table
include /blocks/block-marked/block-marked
include /blocks/before-after/before-after

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Излечение язв любой степени сложности' }) Излечение язв любой степени сложности
  +pageSection: .container: .content
    h2.text-align--center Забудьте об ампутации!
    +textMarked({ 'tag': 'p', 'bold': true }) Нами вылечено более 2000 пациентов, считавшихся безнадежными. Большинство этих больных длительно (некоторые - в течение 35 лет) безуспешно лечились в ведущих клиниках как нашей страны, так и в зарубежных клиниках Израиля, Германии и Швейцарии. Причем все они были вылечены нами амбулаторно – ни дня постельного режима не потребовалось.
    +textMarked({ tag: 'p', color: 'green', 'bold': true }).text-align--center Если у Вас срочный вопрос или острая боль, Вы можете связаться с доктором по телефону:
      br
      a(href='tel:+79219157495').tel 8 (921) 915-74-95
      |  Андреев Дмитрий Юрьевич
    h3.text-align--center Примеры пациентов с трофическими язвами ног, вылеченных в нашей клинике (фотографии до и после лечения):
    +sliderWorks
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test.webp' type='image/webp' title='')
          img.nsfw(src='images/test.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-2.webp' type='image/webp' title='')
          img.nsfw(src='images/test-2.jpg' title='' loading='lazy')
      +slide: +grid({ nopadding: true })
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
        +cell({ l: 6, m: 6, xs: 12 }): picture.nsfw
          source(srcset='images/test-3.webp' type='image/webp' title='')
          img.nsfw(src='images/test-3.jpg' title='' loading='lazy')
  +pageSection: .container: .content
    h2.text-align--center Отзывы пациентов
    +pageSubsection: +grid({ 'justify': 'center' }): +cell({ l: 10, xs: 12 }): +review({
        author: 'Семья Зыковых (Валентина Ильинична)',
        date: '2 Октября 2018',
        img: 'https://yazv.net/upload/medialibrary/1da/1da1355129f25dbb5a88b7d48739656d.jpg',
        detail: '/images/review.jpg',
      })
        p Спасибо огромное дорогому моему доктору-спасителю Андрееву Дмитрию Юрьевичу.
          br
          | Уже не ожидала, что мне смогут помочь.
          br
          | Где только не пытались – и в государственных клиниках, и в частных. Все было бесполезно.
          br
          | Слава Богу – попала к доктору Андрееву.
          br
          | Большущее спасибо и огромная благодарность моему спасителю.
    +pageSubsection
      +grid({ 'justify': 'center' }): +cell({ l: 4, m: 6, s: 8, xs: 12 }): a(href='/').btn.btn--wide Читать все отзывы пациентов
  +pageSection: .container: .content
    h2.text-align--center Патенты, полученные докторами Центра флебологии и лечения сложных трофических язв
    +pageSubsection
      p За прошедшие 20 лет нам удалось пройти большой путь — от создания и применения экстрактов тканей, содержащих ростовые факторы, до клеточных технологий и создания серии оригинальных раневых покрытий с рекомбинантными факторами роста. На фотографиях вы можете видеть патенты, полученные нами на эти разработки.
      +grid({ 'par-like': true, padding: 'y' })
        -
          hrefs = [
            '/upload/iblock/85e/85ef8ae39a3b9a983897a656989115f3.jpg',
            '/upload/iblock/7cc/7ccb5b075dd4bb5a5c84531b7913417f.jpg',
            '/upload/iblock/9e4/9e40e7b0083e9cf42c6ca79789cc959b.jpg',
            '/upload/iblock/90f/90f5f69fd56e5698401b980f2611c892.jpg',
            '/upload/iblock/9c9/9c95b19a3b03e8c6957353704b52483f.jpg',
            '/upload/iblock/c02/c02edd9971a0f50c1c34754707a33089.jpg',
            '/upload/iblock/dd7/dd74678b7e1dd1aeac2bde698d7b83b4.jpeg',
          ]
        each i in [1, 2, 3, 4, 5, 6, 7]
          +cell({ l: 3, m: 4, xs: 6 }): a(href != hrefs[i - 1] data-fslightbox='patent')
            +img({
              name: `patent-${i}`,
              path: '/images/patent/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpeg', orig: true },
              ],
              density: [ 2 ]
            })
    +pageSubsection: +textMarked({ tag: 'p', bold: true, big: true }).text-align--center: a(href='/company/licenses/') Смотреть все патенты
  +pageSection: .container: .content
    h2.text-align--center Виды трофических язв с примерами вылеченных нами пациентов
    +textMarked({ 'tag': 'p', bold: true })
      a(href='#1') Венозные язвы
      |  | 
      a(href='#2') Язвы при атеросклерозе
      |  | 
      a(href='/lechenie-yazvv/?bitrix_include_areas=Y#4') Диабетические трофические язвы
      |  | 
      a(href='#3') Язвы вследствие облитерирующего эндартериита
      |  | 
      a(href='#5') Язвы при гипертонической болезни
      |  | 
      a(href='#6') Язвы вследствие врожденных пороков развития сосудов
      |  | 
      a(href='#8') Язвы при лимфедеме
      |  | 
      a(href='#10') Гангренозная пиодермия
      |  | 
      a(href='#7') Гидростатические язвы
      |  | 
      a(href='#9') Язвы при злокачественных опухолях кожи
    p Существуют различные определения понятия «трофическая язва», но ее главными критериями являются, во-первых, поражение кожи на всю толщину, то есть отсутствие источников для эпителизации в дне язвы и, во-вторых, низкая скорость заживления.
    p Трофические язвы нижних конечностей являются распространенной патологией. Ими страдают порядка 1% всего взрослого населения, причем среди лиц пожилого возраста (старше 65 лет) этот показатель возрастает до 5%. В настоящее время в развитых странах частота возникновения язв овышается, что связывают со старением населения и распространением факторов риска для облитерирующего атеросклероза – таких как курение, сахарный диабет и ожирение.
    p Мало кто знает, что диагноза «Трофическая язва» - не существует. Трофическая язва – это не диагноз, а СЛЕДСТВИЕ далеко зашедших заболеваний, которых больше сотни. И лечатся они по-разному.
    p Трофические язвы ног в 95% приходятся на 3 варианта патологии:
    ol.list-numbered
      li Венозная недостаточность нижних конечностей вследствие варикозной и посттромботической болезней: примерно 55% всех язв;
      li Облитерирующий атеросклероз артерий нижних конечностей: примерно 15% всех язв;
      li Сахарный диабет: примерно 20% всех язв;
    p Сочетания вышеназванных причин: примерно 10% всех язв.
    p Остальные же заболевания, которых больше сотни, приводят к язвам, встречающимся примерно в 5% случаев. Но как раз эти 5% случаев и вызывают наибольшие трудности в диагностике и лечении.
    h2.text-align--center Классификация наиболее распространенных трофических язв нижних конечностей
    ul.list-marked
      li: strong Язвы, вследствие хронической венозной недостаточности нижних конечностей из-за варикозной и посттромботической болезней.
      li: strong Язвы, обусловленные облитерирующим атеросклерозом артерий нижних конечностей.
      li: strong Диабетические трофические язвы.
      li: strong Язвы вследствие облитерирующего эндартериита.
      li: strong Гипертонические трофические язвы (синдром Марторелла).
      li: strong Язвы вследствие врожденных пороков развития сосудов нижних конечностей:
        ul.list-marked
          li: strong при синдроме Клиппеля – Треноне
          li: strong при синдроме Паркса Вебера – Рубашова
      li: strong Язвы вследствие лимфедемы
        ul.list-marked
          li: strong вследствие первичной лимфедемы
          li: strong вследствие вторичной лимфедемы
      li: strong Язвы при гангренозной пиодермии
      li: strong Гидростатические язвы
      li: strong Язвы при злокачественных опухолях кожи
  +pageSection: .container: .content
    h2.text-align--center Венозные язвы
    p Это – наиболее известный и распространенный тип язв. Возникают при тяжелой венозной недостаточности на запущенных стадиях варикозной и посттромботической болезни.
    p Клинические симптомы этого вида язв – отек, склероз кожи и подкожной клетчатки, затем – гиперпигментация и белая атрофия кожи, предшествующая изъязвлению.
    p Патогенез венозных (варикозных и посттромботических) язв сходен. Они вызваны повышенным венозным давлением вследствие поражения подкожных вен в случае варикозной болезни или глубоких вен - при посттромботической болезни.
    p Посттромботическая болезнь (ПТБ) возникает вследствие разрушения клапанов глубоких вен после флеботромбоза и развивается более чем у половины пациентов, перенесших проксимальный тромбоз и примерно у четверти больных после тромбоза глубоких вен голени. В отличие от варикозной болезни, пациенты с ПТБ могут не иметь видимых варикозно расширенных подкожных вен.
    p Так как по глубоким венам ног оттекает порядка 90% всей крови, а по подкожным венам – только 10 %, то выраженность этих язв отличается. Варикозная язва (язва при варикозной болезни) значительно меньше, чем при посттромботической, почти всегда локализуются в нижней трети голени и в подлодыжечных областях. При посттромботической же болезни язвы могут достигать гигантских размеров, становясь циркулярными. Они могут распространяться до глубокой фасции, а экссудация из них может превышать 1,5 литров в сутки. Так, на представленной ниже фотографии больной А., 66 лет, видна калоша, наполненная раневым секретом, набравшимся за полчаса ходьбы.
    h3.text-align--center Примеры пациентов с венозными язвами, вылеченными в нашем Центре
    +beforeAfrer({
      galleryName: 'venoznye-1-1',
      before: { src: { orig: '/images/lechenie-yazvv/venoznye-1-1.jpg', webp: '/images/lechenie-yazvv/venoznye-1-1.webp' }, detail: '/images/lechenie-yazvv/venoznye-1-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/venoznye-1-2.jpg', webp: '/images/lechenie-yazvv/venoznye-1-2.webp' }, detail: '/images/lechenie-yazvv/venoznye-1-2.jpg' }, 
    })
    p: strong Больной Н., 24 года Диагноз: Варикозная болезнь левой нижней конечности. 
    p После полного заживления трофической язвы (на это ушел 1 месяц) пациент был амбулаторно прооперирован – ему было выполнено удаление варикозно расширенной большой подкожной вены. На второй фотографии, сделанной через три недели после операции, еще видны следы проколов, через которые и была удалена эта разрушенная варикозной болезнью вена. Пациент наблюдается на протяжении 9 лет после операции – рецидива язвы нет.
    +beforeAfrer({
      galleryName: 'venoznye-2-1',
      before: { src: { orig: '/images/lechenie-yazvv/venoznye-2-1.jpg', webp: '/images/lechenie-yazvv/venoznye-2-1.webp' }, detail: '/images/lechenie-yazvv/venoznye-2-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/venoznye-2-2.jpg', webp: '/images/lechenie-yazvv/venoznye-2-2.webp' }, detail: '/images/lechenie-yazvv/venoznye-2-2.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'venoznye-2-3',
      before: { src: { orig: '/images/lechenie-yazvv/venoznye-2-3.jpg', webp: '/images/lechenie-yazvv/venoznye-2-3.webp' }, detail: '/images/lechenie-yazvv/venoznye-2-3.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/venoznye-2-4.jpg', webp: '/images/lechenie-yazvv/venoznye-2-4.webp' }, detail: '/images/lechenie-yazvv/venoznye-2-4.jpg' }, 
    })
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-2-5.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-2-5.jpg' loading='lazy')
    p: strong Больная Александрова Л.Б., 66 лет., до и после амбулаторного лечения в нашем Центре. Диагноз: Посттромботическая болезнь левой нижней конечности. Циркулярная трофическая язва левой голени. На снимке видна калоша, наполнявшаяся лимфой через каждые полчаса ходьбы. На сайте клиники есть 
      a(href='#review-aleksandrova' data-fslightbox) её отзыв
      | .
    p История этой пациентки описана журналистом, бравшим у нее интервью для 
      a(href='/smi-o-nas/profilaktika-zdorove-krasota.php') статьи об Андрееве Д.Ю. «Человек исцеляющий»
      | :
    +blockMarked
      p «Профессиональная жизнь акушера-гинеколога – борьба за здоровье пациенток. Этим и занималась Людмила Борисовна Александрова. В шестьдесят же лет пациенткой стала сама. Теперь уже и не вспомнить все кабинеты сосудистых хирургов, флебологов, лимфологов, где пытались бороться с её трофической язвой. Везде – безрезультатно. Ходила она, надев на ногу огромную мужскую калошу. Пожиравшая её тело язва выделяла лимфу, стекающую по ноге. Через каждые полчаса нужно было выливать из калоши полтора стакана этой жидкости. Постоянно мучила боль… Через шесть лет такой жизни Александрова в порыве безысходности написала письмо министру здравоохранения (Т. Голиковой).
      p Административно-бюрократическая машина пришла в движение и достала главного врача участковой поликлиники, когда написавшая находилась на даче. Там ее и разыскала «скорая помощь», отправленная главным. Положили в больницу («Святого Георгия»). Оперативно собрали консилиум – во главе с профессором, одним из ведущих лимфологов города. Заключение маститых специалистов: ампутация, срочно.
      p -Как хирург, - вспоминает сейчас Людмила Борисовна, - я и сама понимала, при циркулярной язве только два исхода: ампутация или смерть. Но как же тяжело расставаться с надеждой!...
      p Ночь прошла без сна. Утром, не помня уже для чего, спустилась вниз. Там в вестибюле – газетный киоск. На прилавке лежал журнал «Профилактика, здоровье, красота». Взяла…
      p Стала звонить. Вышла на сосудистого хирурга Андреева. Доброжелательный голос, четкие, конкретные вопросы. А потом уверенное: «Я Вас вылечу»…
      p В тот же день Людмила Борисовна покинула «Святого Георгия». На следующий - встретилась с Андреевым. Был конец ноября. В мае со своим шестилетним проклятием – агрессивной циркулярной язвой она рассталась.
      p -У меня нет слов выразить свою благодарность, - говорит исцелённая. – Считаю, об этом докторе должны узнать как можно больше людей.
    p Сама она рассказала о нём в письме Елене Малышевой, доктору медицинских наук, профессору, одной из создателей проекта «Призвание», ведущей на 1-м канале TV программу «Здоровье». Но то ли письмо не дошло, то ли уважаемая профессор – телеведущая, как и некоторые коллеги Андреева в Питере, тоже иногда пользуются формулой: «Этого не может быть, потому что не бывает никогда»…»
    p Всех пациентов с венозными язвами мы обследуем на предмет сопутствующей артериальной патологии. А при ее наличии определяем лодыжечно-плечевой индекс. Это важно для назначения адекватной компрессионной терапии. Вот пример такого пациента:
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-1-before.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-1-before.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-1-before.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-2-before.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-2-before.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-2-before.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-3-before.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-3-before.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-3-before.jpg' loading='lazy')
    p: strong Больной Ш., 65 лет. Диагноз: Посттромботическая болезнь левой нижней конечности. Облитерирующий атеросклероз. Окклюзия поверхностной бедренной, подколенной и передней большеберцовой артерий. Ишемия III ст. ЛПИ 0,5.
    p Таким образом, у данного пациента – комбинированное поражение вен и артерий левой нижней конечности. Ишемия 3 стадии означает, что из-за резкого снижения притока артериальной крови пациент не может долго находиться в горизонтальном положении – возникают сильные боли; ночью он вынужден спать, опустив ногу с кровати или сидя.
    p В одной из клиник Санкт-Петербурга была попытка – неудачная – восстановления артериального кровотока.
    p За счет применения разработанных нами технологий, нам – без операций на сосудах – удалось улучшить кровоснабжение и в значительной степени очистить язву. Затем мы выполнили пересадку кожи:
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-4.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-4.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-4.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-5.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-5.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-5.jpg' loading='lazy')
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-6.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-6.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-6.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/venoznye-3-7.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/venoznye-3-7.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/venoznye-3-7.jpg' loading='lazy')
    p Полное заживление язв – через 8 месяцев лечения:
    +beforeAfrer({
      galleryName: 'venoznye-3-1',
      before: { src: { orig: '/images/lechenie-yazvv/venoznye-3-1-before.jpg', webp: '/images/lechenie-yazvv/venoznye-3-1-before.webp' }, detail: '/images/lechenie-yazvv/venoznye-3-1-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/venoznye-3-1-after.jpg', webp: '/images/lechenie-yazvv/venoznye-3-1-after.webp' }, detail: '/images/lechenie-yazvv/venoznye-3-1-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'venoznye-3-2',
      before: { src: { orig: '/images/lechenie-yazvv/venoznye-3-2-before.jpg', webp: '/images/lechenie-yazvv/venoznye-3-2-before.webp' }, detail: '/images/lechenie-yazvv/venoznye-3-2-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/venoznye-3-2-after.jpg', webp: '/images/lechenie-yazvv/venoznye-3-2-after.webp' }, detail: '/images/lechenie-yazvv/venoznye-3-2-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'venoznye-3-3',
      before: { src: { orig: '/images/lechenie-yazvv/venoznye-3-3-before.jpg', webp: '/images/lechenie-yazvv/venoznye-3-3-before.webp' }, detail: '/images/lechenie-yazvv/venoznye-3-3-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/venoznye-3-3-after.jpg', webp: '/images/lechenie-yazvv/venoznye-3-3-after.webp' }, detail: '/images/lechenie-yazvv/venoznye-3-3-after.jpg' }, 
    })
    p Все лечение, включая операцию по пересадке кожи, проходило амбулаторно, госпитализации в стационар нашей клиники не потребовалось.
    h2.text-align--center Язвы при атеросклерозе артерий ног
    p Обычно располагаются в дистальных отделах конечности; окружены бледной или цианотичной кожей. Типичная локализация – пальцы стопы, передний отдел стопы и пяточная область (особенно у лежачих больных). Реже они встречаются на тыле стопы, на передней поверхности голени и в области латеральной и медиальной лодыжек. В последних двух случаях они могут имитировать венозные язвы. Провоцирующими факторами являются незначительные травмы кожи (например, при ношении тесной обуви). Дном язвы обычно являются некротизированные ткани; грануляций – мало, они бледные. Как правило, отсутствует отек нижней конечности. В отличие от венозных язв, практически никогда не проникающих глубже собственной фасции голени, при данных язвах нередки случаи обнажения сухожилий и костей. Другие отличительные признаки – малое количество раневого отделяемого и невыраженность воспалительной реакции в окружающих язву тканях, даже на первой стадии раневого процесса. Еще одно отличие от язв венозной этиологии – подъем пораженной конечности выше уровня сердца усиливает боль, а не облегчает ее, как при венозных язвах.
    p Основной контингент больных – пожилые мужчины. Так как при облитерирующем атеросклерозе язвы являются проявлением IV стадии артериальной ишемии (по классификации Лериша – Фонтейна – Покровского), то их возникновению предшествует (и сопутствует) появление симптома перемежающейся хромоты (II стадия) и болей в дистальных отделах конечности в покое (прежде всего – в горизонтальном положении) – III стадия ишемии.
    p При обследовании пациента выявляют отсутствие пульсации подколенной артерии и артерий стопы – основной критерий, позволяющий отличить данные язвы от язв венозной этиологии.
    p Подтвердить и уточнить клинические находки позволяет ультразвуковое дуплексное сканирование артерий нижних конечностей.
    p Представленные ниже фотографии демонстрируют современные возможности лечения этих язв.
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/ateroskleroz-1-2.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/ateroskleroz-1-2.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/ateroskleroz-1-2.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/ateroskleroz-1-1.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/ateroskleroz-1-1.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/ateroskleroz-1-1.jpg' loading='lazy')
    p: strong Больной Р., 70 лет. Диагноз: Облитерирующий атеросклероз. Окклюзия правой поверхностной бедренной, подколенной и передней большеберцовой артерий. Трофическая язва правой голени. Гнойный артрит и свищ правого голеностопного сустава. Ишемия IV ст. Сопутствующий диагноз: СД II типа. ЛПИ 0,2. Систолическое давление на a. tibialis post. 30 мм.рт.ст.
    p Этот пациент поступил к нам в клинику с очень сильными болями. На единственной правой ноге – страшная язва. Можно видеть вскрывшийся голеностопный сустав. Обратите внимание, что язва находится на типичном для венозных язв месте, хотя с венами у пациента все в порядке.
    p Чтобы вылечить этого пациента, пришлось выполнить аутовенозное бедренно-тибиальное шунтирование аутовеной, после чего появилась возможность за счет местного лечения заживить язву:
    +beforeAfrer({
      galleryName: 'ateroskleroz-1',
      before: { src: { orig: '/images/lechenie-yazvv/ateroskleroz-1-2.jpg', webp: '/images/lechenie-yazvv/ateroskleroz-1-2.webp' }, detail: '/images/lechenie-yazvv/ateroskleroz-1-2.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/ateroskleroz-1-3.jpg', webp: '/images/lechenie-yazvv/ateroskleroz-1-3.webp' }, detail: '/images/lechenie-yazvv/ateroskleroz-1-3.jpg' }, 
    })
    p Больной наблюдается в течение 11 лет – рецидива язвы нет.
    h2#4.text-align--center Диабетические трофические язвы
    p Трофические язвы при сахарном диабете являются проявлениями синдрома диабетической стопы и/или диабетического липоидного некробиоза.
    p Согласно международной классификации (Нидерланды 1991) выделяют нейропатическую, ишемическую и смешанную (нейроишемическую) формы этого синдрома. Дифференциальная диагностика нейропатической и ишемической форм синдрома диабетической стопы приведена в таблице.
    +grid({ 'par-like': true, 'justify': 'center' }): +cell({ l: 10, xs: 12 }): +table
      +tr
        +th Нейропатическая
        +th Ишемическая
      +tr
        +td Язвенные дефекты в точках избыточного нагрузочного давления при ходьбе, безболезненны
        +td Язвы и некроза на пальцах стопы, в ее переднем отделе и, как правило, как правило, у лежачих больных — на пяточной области. Выраженная болезненность
      +tr
        +td Сохранена пульсация в артериях стопы
        +td Пульсация в артериях стопы отсутствует
      +tr
        +td Сухая кожа стоп, её окраска и температура не изменена, участки гиперкератоза в областях повышенного нагрузочного давления
        +td Кожа стопы —бледная или цианотичная, ее температура снижена
      +tr
        +td Снижение всех видов чувствительности на стопе
        +td Чувствительность на стопе сохранена
      +tr
        +td Деформация стоп и голеностопных суставов носит специфичный характер («стопа Шарко»), характерны двусторонние отеки голеней и стоп, синдром «пятнистой голени» — мелкие очаги гиперпигментации на голенях и тыльной поверхности стоп
        +td Специфическая деформация стоп, голеностопных суставов и синдрои «пятнистой голени» отсутствуют
      +tr
        +td В анамнезе — длительное теяение сахарного диабета
        +td Нет связи с длительностью течения сахарного диабета
      +tr
        +td Характерно злоупотребление алкоголем
        +td Характерно злоупотребление курением
      +tr
        +td Связь с артериальной гипертензией и дислипидемией нехарактерна
        +td Характерно наличие артериальной гипертензиеи и дислипидемиии
      +tr
        +td Характерны синдромы нейропатии — жгущие или колющие боли в голенях и стопах, судороги в икроножных мышцах, онемении и парестезии в стопах и голенях; болевой синдром купируется при ходьбе
        +td Перемежающаяся хромота (часто «назкая» из-за реимущественного поражения дистальных артерий) и боли в покое. Боли ослабевают при прекращении ходьбы или при опускании ног с кровати
    p Синдром диабетической ишемической стопы (и язвы при этом синдроме) вызваны атеросклеротическим поражением артерий нижних конечностей больных диабетом. Хорошо известно, что сахарный диабет является одним из ведущих факторов риска облитерирующего атеросклероза. Таким образом, несмотря на различия в атеросклеротическом поражении артерий нижних конечностей у пациентов с сахарным диабетом и без него (см. таблицу ниже), язвы при синдроме ишемической диабетической стопы правильнее относить к атеросклеротическим трофическим язвам, рассматривая сахарный диабет как сопутствующее заболевание.
      span(style='font-size: 14pt;')  
    +grid({ 'par-like': true, 'justify': 'center' }): +cell({ l: 10, xs: 12 }): +table
      +tr
        +th Клиническая картина
        +th При диабете
        +th Без диабета
      +tr
        +td Развитие
        +td Быстрое
        +td Медленное
      +tr
        +td Возраст
        +td < 50 лет
        +td > 60 лет
      +tr
        +td Пол (м/ж)
        +td 2/1
        +td 30/1
      +tr
        +td Окклюзия
        +td Мультисегментарная
        +td Моносигментарная
      +tr
        +td Симметричность поражения
        +td Двустороннее
        +td Одностороннее
      +tr
        +td Поражаемые сосуды
        +td Артерии голени, артерии стопы
        +td Аорта, подвздошные артерии, бедренные артерии
    h3.text-align--center Примеры пациентов с диабетическими язвами, вылеченными в нашей клинике    
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/diabet-1-1-before.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/diabet-1-1-before.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/diabet-1-1-before.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/diabet-1-2.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/diabet-1-2.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/diabet-1-2.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/diabet-1-3.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/diabet-1-3.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/diabet-1-3.jpg' loading='lazy')
    p: strong Больной Лукьянов В.Н., 75 лет. Диагноз: Сахарный диабет II типа. Синдром диабетической стопы, смешанная форма. При поступлении: Флегмона правой стопы, в посевах костной ткани – обильный рост Pseudomonas aeruginosa, St. aureus, Enterococcus faecalis.
    p Этот пациент буквально сбежал к нам из отделения гнойной хирургии одной из клиник нашего города, где ему собирались ампутировать стопу. Его беды начались с воспаления и, затем, флегмоны IV пальца правой стопы. Он был госпитализирован на это отделение гнойной хирургии, где ему была выполнена ампутация IV пальца. Затем, в течение месяца госпитализации, из-за прогрессирования гнойного воспаления, ему были ампутированы III и II пальцы. Несмотря на это, инфекционный процесс перешел на стопу и у пациента развилась флегмона стопы. Его стали готовить к ампутации.
    p При поступлении в нашу клинику у пациента – сильные боли, выраженная гиперемия и болезненность подошвы, в ране видны оголившиеся кости, из неё – гнойное отделяемое с отвратительным запахом. Мы сразу же выполнили посев костной ткани. В нём – обильный рост Pseudomonas aeruginosa (синегнойная палочка), St. aureus (золотистый стафилококк), Enterococcus faecalis (фекальный энтерококк).
    p Для лечения в этом случае мы использовали разработанную нами портативную вакуумно-промывную систему. В ней благотворное влияние отрицательного давления на раны усиливается эффектом антисептиков, используемых для промывания. Кроме того, в случае ишемических язв, избегается пересушивание раневой поверхности. Эти системы хорошо зарекомендовали себя для лечения тяжелых гнойных ран. При этом пациент, как вы можете видеть на снимке, мобилен – лечение осуществляется амбулаторно:
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/diabet-1-4.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/diabet-1-4.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/diabet-1-4.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/diabet-1-5.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/diabet-1-5.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/diabet-1-5.jpg' loading='lazy')
    p После первых же перевязок почти полностью исчезли боли в ране, неприятный запах, уменьшилась болезненность и ограничилась гиперемия на подошве. Вскоре язва значительно уменьшилась в размерах, была заполнена грануляционной тканью, результаты посева – отрицательные. Больному была выполнена марочная аутодермопластика:
    +beforeAfrer({
      galleryName: 'diabet-1-1',
      before: { src: { orig: '/images/lechenie-yazvv/diabet-1-1-before.jpg', webp: '/images/lechenie-yazvv/diabet-1-1-before.webp' }, detail: '/images/lechenie-yazvv/diabet-1-1-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/diabet-1-1-after.jpg', webp: '/images/lechenie-yazvv/diabet-1-1-after.webp' }, detail: '/images/lechenie-yazvv/diabet-1-1-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'diabet-1-6',
      before: { src: { orig: '/images/lechenie-yazvv/diabet-1-6-before.jpg', webp: '/images/lechenie-yazvv/diabet-1-6-before.webp' }, detail: '/images/lechenie-yazvv/diabet-1-6-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/diabet-1-6-after.jpg', webp: '/images/lechenie-yazvv/diabet-1-6-after.webp' }, detail: '/images/lechenie-yazvv/diabet-1-6-after.jpg' }, 
    })
    p На следующих фотографиях - стопа 66-летней пациентки до и после лечения в нашей клинике. У нее – ишемическая форма синдрома диабетической стопы. Видны оголившиеся кости левой стопы.
    +beforeAfrer({
      galleryName: 'diabet-2',
      before: { src: { orig: '/images/lechenie-yazvv/diabet-2-1.jpg', webp: '/images/lechenie-yazvv/diabet-2-1.webp' }, detail: '/images/lechenie-yazvv/diabet-2-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/diabet-2-2.jpg', webp: '/images/lechenie-yazvv/diabet-2-2.webp' }, detail: '/images/lechenie-yazvv/diabet-2-2.jpg' }, 
    })
    p: strong Больная М., 66 лет. Диагноз: Сахарный диабет II типа. Диабетическая стопа, ишемическая форма. Облитерирующий атеросклероз. Окклюзия артерий левой голени
    p Все началось с язвы I пальца, после чего, несмотря на стационарное лечение в одной из ведущих клиник Санкт-Петербурга, последовало несколько ампутаций, в результате которых некроз распространился на стопу. И на момент поступления в нашу клинику язва выглядела так, как показано на первом снимке.
    p Восстановить кожный покров нам удалось за счет системной антибактериальной терапии и местного лечения. В костях были сделаны перфорации, за счет клеточной терапии был простимулирован рост грануляций из этих отверстий. Затем была выполнена аутодермопластика. Опять же за счет клеточной терапии удалось добиться приживления пересаженного кожного лоскута.
    h2.text-align--center Язвы вследствие облитерирующего эндартериита (болезни Винивартера-Бюргера)
    p Облитерирующий эндартериит, он же болезнь Бюргера, он же болезнь Винивартера-Бюргера, характеризуется воспалением, первично поражающим периферические артерии у молодых курильщиков. На фото представлена нога пациентки с облитерирующим эндартериитом, вылеченная в нашей клинике.
    +beforeAfrer({
      galleryName: 'endoarteriit-1',
      before: { src: { orig: '/images/lechenie-yazvv/endoarteriit-1-1.jpg', webp: '/images/lechenie-yazvv/endoarteriit-1-1.webp' }, detail: '/images/lechenie-yazvv/endoarteriit-1-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/endoarteriit-1-2.jpg', webp: '/images/lechenie-yazvv/endoarteriit-1-2.webp' }, detail: '/images/lechenie-yazvv/endoarteriit-1-2.jpg' }, 
    })
    p При этом заболевании наблюдается очень сильная зависимость от курения: это заболевание не встречается у некурящих, а при отказе от курения прогноз благоприятный. Изначально воспаляются и закрываются артерии дистальных отделов стоп, затем болезнь распространяется проксимально. Когда в процесс будут вовлечены подколенные артерии, возникнет перемежающаяся хромота. Поэтому здесь классификация Фонтейна-Покровского не действует: изъязвления и гангрена могут предшествовать перемежающейся хромоте. Диагностические критерии заболевания представлены ниже.
    h3.text-align--center Диагностические критерии:
    ol.list-numbered
      li курение;
      li начало болезни до 50 лет;
      li окклюзии артерий ниже колена;
      li вовлечение верхней конечности или мигрирующий флебит (как подтверждение системного характера болезни);
      li отсутствие факторов риска атеросклероза (кроме курения)
    p Для подтверждения диагноза применяется артериография и гистологическое исследование, при которых находят специфические изменения. На артериограмме это резкие или конусовидные обрывы дистальных ветвей магистральных артерий. Вокруг каждой окклюзии – выраженная сеть коллатералей в виде штопоров или корней, а проксимальнее окклюзии артериальная стенка гладкая, в отличие от атеросклероза. При гистологическом же исследовании в клеточном тромбе выявляют гранулематозную реакцию с гигантскими клетками, что никогда не находят при атеросклерозе.
    h2.text-align--center#5 Язвы при гипертонической болезни (синдром Марторелла)
    p Эти язвы впервые описаны испанским кардиологом по имени Otzet Fernando Martorell в 1945 году. Наблюдаются у пациентов с длительно протекающей тяжелой артериальной гипертонией. Последняя приводит к выраженной гипертрофии мышечного слоя артериол, что в конечном счете вызывает их окклюзию. И тогда наблюдается парадоксальная ситуация: на ноге у пациента ишемические язвы с выраженным болевым синдромом, а при этом пульсация периферических артерий сохранена.
    p Благодаря разработанным нами технологиям, мы можем излечивать данный вид язв без операции.
    p На фотографиях представлены два пациента с этой патологией до и после лечения в нашем Центре. Нормализация артериального давления и передовые технологии местного лечения позволили быстро вылечить эти язвы.
    +beforeAfrer({
      galleryName: 'martorell-1',
      before: { src: { orig: '/images/lechenie-yazvv/martorell-1-1.jpg', webp: '/images/lechenie-yazvv/martorell-1-1.webp' }, detail: '/images/lechenie-yazvv/.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/martorell-1-2.jpg', webp: '/images/lechenie-yazvv/martorell-1-2.webp' }, detail: '/images/lechenie-yazvv/.jpg' }, 
    })
    p: strong Больной П., 60 лет. Диагноз: Гипертоническая болезнь III ст. Синдром Марторелла
    +beforeAfrer({
      galleryName: 'martorell-2',
      before: { src: { orig: '/images/lechenie-yazvv/martorell-2-1.jpg', webp: '/images/lechenie-yazvv/martorell-2-1.webp' }, detail: '/images/lechenie-yazvv/.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/martorell-2-2.jpg', webp: '/images/lechenie-yazvv/martorell-2-2.webp' }, detail: '/images/lechenie-yazvv/.jpg' }, 
    })
    p: strong Больная Г., 62 года. Диагноз: Гипертоническая болезнь III ст. Синдром Марторелла
    h2.text-align--center Язвы вследствие врожденных пороков развития сосудов
    h3.text-align--center Синдром Клиппеля-Треноне
    +beforeAfrer({
      galleryName: 'poroki-razvitiya-1',
      before: { src: { orig: '/images/lechenie-yazvv/poroki-razvitiya-1-1.jpg', webp: '/images/lechenie-yazvv/poroki-razvitiya-1-1.webp' }, detail: '/images/lechenie-yazvv/poroki-razvitiya-1-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/poroki-razvitiya-1-2.jpg', webp: '/images/lechenie-yazvv/poroki-razvitiya-1-2.webp' }, detail: '/images/lechenie-yazvv/poroki-razvitiya-1-2.jpg' }, 
    })
    p: strong Больная П., 52 года. Диагноз: Синдром Клиппеля – Треноне. Длительность существования язвы – 25 лет.
    p На фотографиях – нога пациентки с синдромом Клиппеля-Треноне до и после лечения в нашей клинике.
    p Это – врожденная патология, при которой, как правило, поражается одна нижняя конечность. Характеризуется аномалией развития глубоких вен нижних конечностей вплоть до их полного отсутствия. Синдром включает следующие симптомы: капиллярные гемангиомы, варикозные подкожные вены, появляющиеся в подростковом возрасте, и гипертрофия нижней конечности. У некоторых больных гипертрофия нижней конечности может отсутствовать, даже иногда наблюдается ее гипотрофия, как у нашей пациентки. Трофические язвы могут достигать значительных размеров. Характерно их нетипичное расположение (например, на задней поверхности голени).
    h3.text-align--center Синдром Паркса Вебера – Рубашова
    a(href= rootPath + '/upload/iblock/3f8/3f8d8d3d227f2ffd94b82803f6b71753.jpg' target='_blank')
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/poroki-razvitiya-2-1.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/poroki-razvitiya-2-1.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/poroki-razvitiya-2-1.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/poroki-razvitiya-2-2.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/poroki-razvitiya-2-2.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/poroki-razvitiya-2-2.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/poroki-razvitiya-2-3.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/poroki-razvitiya-2-3.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/poroki-razvitiya-2-3.jpg' loading='lazy')
    p: strong Больная С., 37 лет. Диагноз: Синдром Паркса Вебера – Рубашова. Длительность существования трофической язвы – 22(!) года.
    p Это фотографии стопы нашей пациентки с синдромом Паркса Вебера – Рубашова, то есть с врожденными патологическими артериовенозными фистулами (на снимке показана их локализация), которые сочетаются с наличием расширенных подкожных вен. Также иногда на пораженной конечности имеются гипертрофия, гипертрихоз и пигментные пятна. Эти язвы с виду обычно неотличимы от язв венозной этиологии, хотя могут возникать в нетипичных для венозных язв местах. Поставить правильный диагноз позволяет выявление пульсации расширенных подкожных вен и выслушивание над ними систолического шума. Для точной локализации свищей необходима артериография. Методом выбора для лечения этих язв в настоящее время является эндоваскулярная эмболизация.
    p На снимках ниже – результат лечения этой пациентки в нашем Центре.
    +beforeAfrer({
      galleryName: 'poroki-razvitiya-2-4',
      before: { src: { orig: '/images/lechenie-yazvv/poroki-razvitiya-2-4-before.jpg', webp: '/images/lechenie-yazvv/poroki-razvitiya-2-4-before.webp' }, detail: '/images/lechenie-yazvv/poroki-razvitiya-2-4-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/poroki-razvitiya-2-4-after.jpg', webp: '/images/lechenie-yazvv/poroki-razvitiya-2-4-after.webp' }, detail: '/images/lechenie-yazvv/poroki-razvitiya-2-4-after.jpg' }, 
    })
    h2.text-align--center#8 Язвы при лимфедеме
    p Возникают на фоне отеков вследствие нарушения оттока лимфы из нижних конечностей при нормально работающей венозной системе. Выделяют первичную и вторичную лимфедему. Первая часто является наследуемым заболеванием; первичная семейная лимфедема известна как болезнь Милроя. Вторая является следствием перенесенных рожистых воспалений, поражения лимфатических узлов метастазами злокачественных опухолей и других причин. Эти язвы обычно неглубокие, характеризуются выраженной экссудацией. Локализуются, как правило, на передней поверхности средней и нижней трети голени. Имеется типичная картина лимфедемы с выраженным отеком тыла стопы. Такое выраженное опухание тыла стопы может иногда наблюдаться при сердечных отеках, но практически никогда – при отеках чисто венозной природы. У больного будет сохранена пульсация артерий стопы и при ультразвуковом дуплексном сканировании не будет выявлено патологии со стороны венозной системы. Для окончательного подтверждения диагноза может быть использована изотопная сцинтиграфия.
    p Ниже представлены примеры пациентов с язвами при первичной и вторичной лимфедемах, вылеченных в нашем Центре (фотографии до и после лечения).
    +beforeAfrer({
      galleryName: 'limfedema-1',
      before: { src: { orig: '/images/lechenie-yazvv/limfedema-1-1.jpg', webp: '/images/lechenie-yazvv/limfedema-1-1.webp' }, detail: '/images/lechenie-yazvv/limfedema-1-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/limfedema-1-2.jpg', webp: '/images/lechenie-yazvv/limfedema-1-2.webp' }, detail: '/images/lechenie-yazvv/limfedema-1-2.jpg' }, 
    })
    p: strong Больная К., 73 года. Диагноз: Первичная лимфедема нижних конечностей
    +beforeAfrer({
      galleryName: 'limfedema-2',
      before: { src: { orig: '/images/lechenie-yazvv/limfedema-2-1.jpg', webp: '/images/lechenie-yazvv/limfedema-2-1.webp' }, detail: '/images/lechenie-yazvv/limfedema-2-1.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/limfedema-2-2.jpg', webp: '/images/lechenie-yazvv/limfedema-2-2.webp' }, detail: '/images/lechenie-yazvv/limfedema-2-2.jpg' }, 
    })
    p: strong Больная Г., 85 лет. Диагноз: Вторичная лимфедема нижних конечностей
    h3.text-align--center Гангренозная пиодермия
    p Редкое аутоиммунное заболевание, которое обычно проявляется язвами на голенях. Название сложилось исторически и является условным, так как это заболевание не является ни гангреной, ни пиодермией. Это тяжелые язвы, они вызывают очень сильную боль. Их возникновению предшествует появление пятен или пустул. Обычно поражают женщин в возрасте до 50 лет, часто открываются на фоне полного здоровья.
    p Каких только диагнозов этим пациентам не ставят! На снимках – яркий пример. Пациентка – молодая женщина 38 лет, на момент поступления в нашу клинику:
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/piodermiya-1-1.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/piodermiya-1-1.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/piodermiya-1-1.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/piodermiya-1-6.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/piodermiya-1-6.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/piodermiya-1-6.jpg' loading='lazy')
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/piodermiya-1-3.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/piodermiya-1-3.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/piodermiya-1-3.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/piodermiya-1-4.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/piodermiya-1-4.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/piodermiya-1-4.jpg' loading='lazy')
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/piodermiya-1-5.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/piodermiya-1-5.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/piodermiya-1-5.jpg' loading='lazy')
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/piodermiya-1-2.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/piodermiya-1-2.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/piodermiya-1-2.jpg' loading='lazy')
    p У этой женщины внезапно на фоне полного здоровья на обеих ногах открылись страшные язвы. Боль была очень сильная. Она обращалась практически во все ведущие клиники нашего города. Лечилась – безуспешно – 10 лет. Принесла нам штук 30 выписок, где ей было поставлено чуть ли не 20 разных диагнозов – от облитерирующего эндартериита до панникулита Вебера-Крисчена:
    +grid({ padding: ['small', 'y'], 'justify': 'center' })
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/1.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/1.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/1.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/2.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/2.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/2.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/3.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/3.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/3.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/4.png')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/4.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/4.png' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/5.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/5.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/5.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/6.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/6.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/6.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/7.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/7.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/7.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/8.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/8.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/8.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/9.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/9.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/9.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/10.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/10.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/10.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/11.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/11.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/11.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/12.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/12.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/12.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/13.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/13.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/13.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/14.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/14.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/14.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/15.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/15.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/15.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/17.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/17.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/17.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/18.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/18.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/18.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/19.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/19.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/19.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/21.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/21.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/21.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/22.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/22.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/22.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/23.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/23.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/23.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/24.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/24.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/24.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/25.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/25.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/25.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/spravki/26.jpg')
        picture
          source(srcset= rootPath + '/upload/spravki/opt/26.webp' type='image/webp')
          img(src= rootPath + '/upload/spravki/opt/26.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/main_mozaika/new/2img.jpg')
        picture
          source(srcset= rootPath + '/upload/main_mozaika/new/2img.webp' type='image/webp')
          img(src= rootPath + '/upload/main_mozaika/new/2img.jpg' loading='lazy')
      +cell({ l: 1, m:2, s: 3,  xs: 4 }): a(data-fslightbox='spravki-1'  href= rootPath + '/upload/main_mozaika/new/1IMG_9182.jpg')
        picture
          source(srcset= rootPath + '/upload/main_mozaika/new/1IMG_9182.webp' type='image/webp')
          img(src= rootPath + '/upload/main_mozaika/new/1IMG_9182.jpg' loading='lazy')
    p Более того, ее – с диагнозом «Облитерирующий эндартериит» – прооперировали – выполнили поясничную симпатэктомию. Правильный диагноз поставили только в Израиле. И то не сразу. Но помочь не смогли и там.
    p На снимках ниже показаны ноги этой пациентки до и после лечения в нашей клинике.
    +beforeAfrer({
      galleryName: 'piodermiya-1-7',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-7-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-7-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-7-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-7-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-7-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-7-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'piodermiya-1-8',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-8-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-8-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-8-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-8-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-8-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-8-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'piodermiya-1-9',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-9-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-9-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-9-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-9-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-9-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-9-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'piodermiya-1-10',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-10-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-10-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-10-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-10-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-10-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-10-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'piodermiya-1-11',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-11-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-11-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-11-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-1-11-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-1-11-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-1-11-after.jpg' }, 
    })
    p На фоне иммуносупрессивной терапии этой больной была выполнена аутодермопластика. За счет использования разработанных нами клеточных технологий удалось добиться приживления пересаженных кожных лоскутов и полного заживления язв.
    p Интересно, что для гангренозной пиодермии характерен феномен патергии – запуск воспалительного процесса и появление язв при травмах кожи. Поэтому аутодермопластика при этом заболевании ранее была категорически противопоказана. Считалось, что донорская зона неизбежно превратится в новую язву. В серии статей (они вышли в «Ангиологии и сосудистой хирургии» и в «Вестнике хирургии») мы показали, что при адекватной иммуносупрессии и при нашей технологии пересадки кожи эти опасения напрасны.
    p Еще одна из пациенток с диагнозом «Гангренозная пиодермия» до и после лечения в нашей клинике:
    +beforeAfrer({
      galleryName: 'piodermiya-2-1',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-2-1-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-2-1-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-2-1-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-2-1-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-2-1-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-2-1-after.jpg' }, 
    })
    +beforeAfrer({
      galleryName: 'piodermiya-2-2',
      before: { src: { orig: '/images/lechenie-yazvv/piodermiya-2-2-before.jpg', webp: '/images/lechenie-yazvv/piodermiya-2-2-before.webp' }, detail: '/images/lechenie-yazvv/piodermiya-2-2-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/piodermiya-2-2-after.jpg', webp: '/images/lechenie-yazvv/piodermiya-2-2-after.webp' }, detail: '/images/lechenie-yazvv/piodermiya-2-2-after.jpg' }, 
    })
    p Это – та самая Оксана Павловна Смирнова, история которой была ярко описана
      a(href='/smi-o-nas/statya-dlya-zhurnala-profilaktika-zdorove-krasota.php') в статье об Андрееве Д.Ю. «Человек исцеляющий»
      | .
    p Красной стрелкой показан ушитый нами дефект в малоберцовой артерии, который «проела» эта язва.
    h2.text-align--center#7 Гидростатические язвы
    p Это – еще один вид язв, который был до недавнего времени неизвестным большинству специалистов. В одном из ведущих хирургических журналов России, в «Вестнике хирургии», недавно вышли наши статьи, посвященные этой проблеме.
    p Данные язвы встречаются у людей, страдающих ожирением. Они напоминают язвы после перенесенного тромбоза глубоких вен, однако даже при самом тщательном обследовании никакой венозной патологии у этих больных не находят, все венозные клапаны оказываются состоятельными. Причина гидростатических язв – в резко повышенном, вследствие ожирения, внутрибрюшном давлении, что затрудняет отток венозной крови при нормально функционирующих клапанах.
    p Современные методики лечения, применяемые в нашей клинике, позволяют быстро и надежно справиться и с этим типом язв.
    p На фотографиях ниже – типичный пример пациента с гидростатической язвой до и после лечения в нашем Центре.
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/gidrostaticheskiye-1-1.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/gidrostaticheskiye-1-1.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/gidrostaticheskiye-1-1.jpg' loading='lazy')
    p: strong Больная М., 49 лет. Диагноз: Ожирение. Индекс массы тела 66,4. (вес 170кг, рост 160 см). Гидростатическая язва правой нижней конечности
    +beforeAfrer({
      galleryName: 'gidrostaticheskiye-1-2',
      before: { src: { orig: '/images/lechenie-yazvv/gidrostaticheskiye-1-2-before.jpg', webp: '/images/lechenie-yazvv/gidrostaticheskiye-1-2-before.webp' }, detail: '/images/lechenie-yazvv/gidrostaticheskiye-1-2-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/gidrostaticheskiye-1-2-after.jpg', webp: '/images/lechenie-yazvv/gidrostaticheskiye-1-2-after.webp' }, detail: '/images/lechenie-yazvv/gidrostaticheskiye-1-2-after.jpg' }, 
    })
    h2.text-align--center#9 Язвы при злокачественных опухолях кожи
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/zlokachestvenniye-1-before.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/zlokachestvenniye-1-before.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/zlokachestvenniye-1-before.jpg' loading='lazy')
    p: strong Больной М., 81 год. Диагноз: изъязвленная базальноклеточная карцинома правой голени.
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/zlokachestvenniye-2.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/zlokachestvenniye-2.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/zlokachestvenniye-2.jpg' loading='lazy')
    p: strong Больная В., 53 года. Диагноз: Плоскоклеточный рак кожи. Инфильтративно-язвенная форма
    +grid({ 'par-like': true, nopadding: true, justify: 'center' })
      +cell({ l: 6, m: 6, s: 8, xs: 12 }): a(href= '/images/lechenie-yazvv/zlokachestvenniye-3.jpg').fancybox: picture
        source(srcset='/images/lechenie-yazvv/zlokachestvenniye-3.webp' type='image/webp')
        img.img-responsive(width='1308' src='/images/lechenie-yazvv/zlokachestvenniye-3.jpg' loading='lazy')
    p: strong Больная К., 87 лет. Диагноз: Изъязвленная В-клеточная лимфома.
    p На фотографиях вы можете видеть изъязвленные базальноклеточную карциному, плоскоклеточный рак и В-клеточную лимфому кожи. Они разрушают подлежащие ткани, растут вглубь и по периферии. Хотим обратить внимание, как просто перепутать эти язвы по внешнему виду с язвами сосудистой этиологии.
    p Базалиома – наиболее распространенный рак кожи. К счастью, она обладает невысокой инвазивностью и практически не дает метастазов. Лечение заключается в иссечении очага поражения с захватом видимо здоровой кожи на 5-10 мм с аутодермопластикой. На приведенных ниже снимках – наш пациент до и после лечения (иссечения изъязвленного очага и пересадка взятого с бедра расщепленного кожного лоскута). Пациент наблюдается на протяжении 4-х лет – рецидива нет.
    +beforeAfrer({
      galleryName: 'zlokachestvenniye-1',
      before: { src: { orig: '/images/lechenie-yazvv/zlokachestvenniye-1-before.jpg', webp: '/images/lechenie-yazvv/zlokachestvenniye-1-before.webp' }, detail: '/images/lechenie-yazvv/zlokachestvenniye-1-before.jpg' }, 
      after: { src: { orig: '/images/lechenie-yazvv/zlokachestvenniye-1-after.jpg', webp: '/images/lechenie-yazvv/zlokachestvenniye-1-after.webp' }, detail: '/images/lechenie-yazvv/zlokachestvenniye-1-after.jpg' }, 
    })
    p: strong Больной М., 81 год. Диагноз: изъязвленная базальноклеточная карцинома правой голени. До и после лечения в Центре.
    p Плоскоклеточная карцинома в отличие от базалиомы обладает высокой инвазивностью и довольно быстро дает метастазы. Различают первичный плоскоклеточный рак (как на показанном выше снимке) и так называемую язву Марголина – рак, возникающий на фоне существовавшей венозной язвы. Это – самый частый вариант малигнизации венозных язв. Показано, что канцерогенный эффект дает ультрафиолетовое и лазерное облучение язв, а также длительное применение мазей, содержащих деготь (мазь Вишневского) и другие раздражающие вещества. Поэтому ранее широко распространенные в нашей стране методики ультрафиолетового и лазерного облучения язв в ведущих западных клиниках сейчас запрещены.
    p Таким образом, если язва перестает реагировать на лечение и в ней наблюдается избыточный рост тканей, необходимо выполнить срочную биопсию.
