extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Патенты' }) Патенты
  +pageSection(): .container: .content
    p За прошедшие 20 лет нам удалось пройти большой путь — от получения и применения экстрактов тканей, содержащих ростовые факторы, до клеточных технологий и создания серии оригинальных раневых покрытий с рекомбинантными факторами роста. На фотографиях вы можете видеть патенты, полученные нами на эти разработки.
  +pageSection(): .container: .content
    +grid({ 'par-like': true, padding: ['y', 'big'] })
      -
        hrefs = [
          rootPath + '/upload/iblock/85e/85ef8ae39a3b9a983897a656989115f3.jpg',
          rootPath + '/upload/iblock/7cc/7ccb5b075dd4bb5a5c84531b7913417f.jpg',
          rootPath + '/upload/iblock/9e4/9e40e7b0083e9cf42c6ca79789cc959b.jpg',
          rootPath + '/upload/iblock/90f/90f5f69fd56e5698401b980f2611c892.jpg',
          rootPath + '/upload/iblock/9c9/9c95b19a3b03e8c6957353704b52483f.jpg',
          rootPath + '/upload/iblock/c02/c02edd9971a0f50c1c34754707a33089.jpg',
          rootPath + '/upload/iblock/dd7/dd74678b7e1dd1aeac2bde698d7b83b4.jpeg',
        ]
      each i in [1, 2, 3, 4, 5, 6, 7]
        +cell({ l: 3, m: 4, xs: 6 })
          +figure({
            image: {
              name: `patent-${i}`,
              path: '/images/patent/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpeg', orig: true },
              ],
              density: [ 2 ],
              href: hrefs[i - 1],
              fslightbox: 'patent',
            },
            caption: 'Патент на изобретение №2717312: Пористая основа для перевязочного средства'
          })
  +pageSection(): .container: .content
    h2 Лицензии
    +grid({ 'par-like': true, padding: ['y', 'big'] })
      -
        hrefs = [
          rootPath + '/upload/iblock/85e/85ef8ae39a3b9a983897a656989115f3.jpg',
          rootPath + '/upload/iblock/7cc/7ccb5b075dd4bb5a5c84531b7913417f.jpg',
          rootPath + '/upload/iblock/9e4/9e40e7b0083e9cf42c6ca79789cc959b.jpg',
          rootPath + '/upload/iblock/90f/90f5f69fd56e5698401b980f2611c892.jpg',
        ]
      each i in [1, 2, 3, 4]
        +cell({ l: 3, m: 4, xs: 6 })
          +figure({
            image: {
              name: `patent-${i}`,
              path: '/images/patent/',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpeg', orig: true },
              ],
              density: [ 2 ],
              href: hrefs[i - 1],
              fslightbox: 'patent',
            },
            caption: 'Патент на изобретение №2717312: Пористая основа для перевязочного средства'
          })
  +pageSection(): .container: .content
    h2 Гарантийные обязательства
    +grid({ 'par-like': true, padding: ['y', 'big'] })
      -
        hrefs = [
          rootPath + '/upload/iblock/85e/85ef8ae39a3b9a983897a656989115f3.jpg',
        ]
      +cell({ l: 3, m: 4, xs: 6 })
        +figure({
          image: {
            name: `patent-1`,
            path: '/images/patent/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'jpg', mime: 'image/jpeg', orig: true },
            ],
            density: [ 2 ],
            href: hrefs[i - 1],
            fslightbox: 'patent',
          },
          caption: 'Патент на изобретение №2717312: Пористая основа для перевязочного средства'
        })
