extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-header/page-header
include /blocks/form-input/form-input
include /blocks/search-result/search-result

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Контакты' }) Контакты
  +pageSection: .container: .content
    form.header-search
      input(type='search' placeholder='Поиск по сайту').header-search__input
      button(type='submit').header-search__submit
  +pageSection: .container: .content
    -
      const searchResults = [
        {
          name: 'О клинике', 
          path: { parents: [ 'Главная', 'Главная' ], current: 'О клинике' },
          body: '... пап и мам. Диагностика. Собственная лаборатория, которая позволит получить результаты анализов день-в-день, без ожидания в очередях. Выезд врача на дом. Приедем в любую точку Москвы и МО. Осмотрим, выпишем лечение, возьмем нужные анализы и даже сделаем ЭКГ на дому! Мы верим, что ...',
        },
        {
          name: 'Вопросы и ответы', 
          path: { parents: [ 'Главная', 'Об отделении' ], current: 'Вопросы и ответы' },
          body: 'Есть вопросы? Задайте вопрос на сайте врачам. Если у вас острая боль или срочный вопрос, Вы можете связаться с доктором по телефону: +7 (921) 915-74-95 Андреев Дмитрий Юрьевич Работаем ...',
        },
        {
          name: 'Пациенту', 
          path: { parents: [ 'Главная' ], current: 'Пациенту' },
          body: '... для тех, кто хочет получить налоговый вычет. Часы работы наших филиалов С 08:00 до 21:00 в будни С 09:00 до 22:00 в выходные и праздничные дни. Выезд врача на дом и экстренная медицинская помощь – круглосуточно. Запись на прием В клинике «АспроМед» прием ведется по предварительной записи....',
        },
        {
          name: 'Пациенту', 
          path: { parents: [ 'Главная', 'Главная' ], current: 'Пациенту' },
          body: '... для тех, кто хочет получить налоговый вычет. Часы работы наших филиалов С 08:00 до 21:00 в будни С 09:00 до 22:00 в выходные и праздничные дни. Выезд врача на дом и экстренная медицинская помощь – круглосуточно. Запись на прием В клинике «АспроМед» прием ведется по предварительной записи....',
        },
        {
          name: 'Лечение лимфедемы конечностей', 
          path: { parents: [ 'Главная' ], current: 'Лечение лимфедемы конечностей' },
          body: '... других причин. Заболевание проявляется прогрессирующими отеками конечностей, в финальных стадиях достигающих состояния «слоновости». Врачами клиники используется высокоэффективная технология безоперационного лечения лимфедемы, позволяющая в кратчайшие сроки добиться ...',
        },
        {
          name: 'Венозные язвы', 
          path: { parents: [ 'Главная' ], current: 'Примеры язв' },
          body: '... конечностей. За это время ему удалось вылечить более 1000 пациентов с тяжелыми трофическими язвами ног различного генеза. Сосудистый хирург, врач флеболог, кандидат медицинских наук, член Европейского общества сосудистой хирургии. Проходил стажировку в лучших клиниках Западной ...',
        },
        {
          name: 'Лечение варикозной болезни нижних конечностей', 
          path: { parents: [ 'Главная' ], current: 'Лечение варикозной болезни нижних конечностей' },
          body: '... пациента методы ультразвукового обследования вен – дуплексное и триплексное ангиосканирование. Результаты этих исследований и позволяют врачам предложить пациенту методику лечения, оптимальную для его варианта болезни. Важное отличие Центра Флебологии и лечения сложных трофических ...',
        },
        {
          name: 'О клинике', 
          path: { parents: [ 'Главная' ], current: 'Об отделении' },
          body: '... следующий день пациент может вернуться к привычному образу жизни. Заведующий центром флебологии - Андреев Дмитрий Юрьевич Сосудистый хирург, врач флеболог, кандидат медицинских наук, член Европейского общества сосудистой хирургии. Проходил стажировку в лучших клиниках Западной ...',
        },
        {
          name: 'Лечение трофических язв', 
          path: { parents: [ 'Главная' ], current: 'Лечение трофических язв' },
          body: '... следующий день пациент может вернуться к привычному образу жизни. Заведующий центром флебологии - Андреев Дмитрий Юрьевич Сосудистый хирург, врач флеболог, кандидат медицинских наук, член Европейского общества сосудистой хирургии. Проходил стажировку в лучших клиниках Западной ...',
        },
        {
          name: 'Излечение язв любой степени сложности', 
          path: { parents: [ 'Главная' ], current: 'Излечение язв любой степени сложности' },
          body: '... написала письмо министру здравоохранения (Т. Го­ликовой). Административно-бюрократическая машина пришла в дви­жение и достала главного врача участковой поликлиники, когда написавшая находилась на даче. Там ее и разыскала «скорая по­мощь», отправленная главным. Положили в ...',
        },
      ]
    each result in searchResults
      +searchResult(result)
  +pageSection: .container: .content
    p
      b Отсортировано по релевантности
      | &nbsp;|&nbsp;
      a(href="/search/?q=%D0%B2%D1%80%D0%B0%D1%87&amp;where=&amp;how=d") Сортировать по дате
