extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/table/table
include /blocks/figure/figure

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: ['Главная'], current: 'Надзорные органы' }) Государственные организации
  +pageSection(): .container: .content
    p Портал YAZV.net является объектом государственного контроля и надзора большого числа государственных и/или муниципальных органов, к которым относятся, в частности:
    -
      const organisation = [
        {
          name: 'Фонд обязательного медицинского страхования',
          image: 'https://yazv.net/upload/iblock/bcd/bcd1049f957bcbf6ae3c7eff4551871e.png',
          href: 'http://www.ffoms.ru/',
          tel: '+7 (495) 952-93-21',
        },
        {
          name: 'Управление Федеральной службы по надзору в сфере защиты прав потребителей',
          image: 'https://yazv.net/upload/iblock/a02/a02d2b854996a1b7ba925753318accc9.png',
          href: 'https://www.rospotrebnadzor.ru/',
          tel: '+7 (499) 973-26-90',
        },
        {
          name: 'Министерство здравоохранения РФ',
          image: 'https://yazv.net/upload/iblock/174/1741cc77ab24a1b4d6e1e9ec56c85ff8.png',
          href: 'https://www.rosminzdrav.ru/',
          tel: '+7 (495) 627-24-00',
        },
      ]
    +grid({ 'par-like': true, padding: 'y', justify: 'center' })
      each item in organisation
        +cell({ l: 4, m: 6, xs: 12 }): .gov-org
          .gov-org__image: img(src!= item.image alt!= item.name title!= item.name)
          .gov-org__title !{item.name}
          .gov-org__subtitle Сайт
          .gov-org__property: a(href!= item.href target='_blank') !{item.href}
          .gov-org__subtitle Телефон
          .gov-org__property !{item.tel}
