extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review/review
include /blocks/text-marked/text-marked
include /blocks/iframe-responsive/iframe-responsive
include /blocks/block-icon/block-icon
include /blocks/page-header/page-header
include /blocks/doctor/doctor
include /blocks/appointment-form/appointment-form

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageHeader({ parents: [ 'Главная' ], current: 'Сотрудники' }) Специалисты
  +pageSection: .container: .content
    h2: small Санкт-Петербургский Центр флебологии и лечения сложных трофических язв
    +grid({ padding: 'y', 'par-like': true })
      +cell({ l: 3, m: 6, xs: 12 }): +doctor({
        name: 'Андреев Дмитрий Юрьевич',
        img: 'https://dummyimage.com/400x400',
        description: 'Сосудистый хирург, флеболог, кандидат медицинских наук, член Европейского общества сосудистой хирургии. Заведующий Центром Флебологии и лечения сложных трофических язв. Автор более 60 научных работ и 7 патентов РФ. Проходил стажировку в лучших клиниках Западной Европы.',
        id: '16',
      })
      +cell({ l: 3, m: 6, xs: 12 }): +doctor({
        name: 'Ястребов Павел Анатольевич',
        img: 'https://dummyimage.com/400x400',
        description: 'Сосудистый хирург, флеболог. Автор более 10 научных работ и 3 патентов РФ.',
        id: '17',
      })
      +cell({ l: 3, m: 6, xs: 12 }): +doctor({
        name: 'Макарова Любовь Николаевна',
        img: 'https://dummyimage.com/400x400',
        description: 'Врач ультразвуковой диагностики. Ведущий специалист Первого Санкт-Петербургского Медицинского Университета имени академика И.П. Павлова по УЗИ-диагностике сосудистых заболеваний',
        id: '18',
      })
