mixin beforeAfrer(item)
  +grid({ nopadding: true }).before-after&attributes(attributes)
    +cell({ l: 6, m: 6, xs: 12 }).before-after__image: a(href= item.before.detail data-fslightbox=item.galleryName || '')
      picture.nsfw
        source(srcset=item.before.src.webp type='image/webp' title='')
        img.nsfw(src=item.before.src.orig alt= item.before.alt || '' title= item.before.alt || '' loading='lazy')
    +cell({ l: 6, m: 6, xs: 12 }).before-after__image: a(href= item.after.detail data-fslightbox=item.galleryName || '')
      +img(item.after.src)(alt= item.after.alt || '')
      picture.nsfw
        source(srcset=item.after.src.webp type='image/webp' title='')
        img.nsfw(src=item.after.src.orig alt= item.after.alt || '' title= item.after.alt || '' loading='lazy')
