mixin pageSection(settings = {})
  include /blocks/classes/classes
  -
    const classList = classes('page-section', settings)
    const tag = settings.tag || 'div'
  #{tag}(class!= classList)&attributes(attributes)
    block
