grid-items(count)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      &--xs-{i}
        flex-grow 0
        flex-shrink 0
        width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-s)
        &--s-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-m)
        &--m-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-l)
        &--l-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-xl)
        &--xl-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-hd)
        &--hd-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)

.grid
  display flex
  flex-wrap wrap
  margin-x -(basePadding)

  aligns = 'center', 'flex-end', 'flex-begin', 'stretch', 'baseline'
  justifies = 'flex-start', 'flex-end', 'center', 'space-between', 'space-around', 'space-evenly'
  for i in aligns
    &--align-{i}
      align-items unquote(i)
  for i in justifies
    &--justify-{i}
      justify-content unquote(i)
  &--nopadding
    margin-x 0
  &--padding-y
    margin-y -(basePadding)
  &--par-like
    parMargin(-(basePadding - font-s))
  &--big-padding
  &--padding-big
    margin-x -(basePadding * 2)
    &^[-1]--padding-y
      margin-y -(basePadding * 2)
    &^[-1]--par-like
      parMargin(-((basePadding * 2) - font-s))
  &--padding-small
    margin-x -(basePadding / 2)
    &^[-1]--padding-y
      margin-y -(basePadding / 2)

  &__cell
    padding-x basePadding
    @media (max-width point-m)
      padding-x (basePadding / 2)
    grid-items(12)

    ^[-1]--cols-10 > &
      grid-items(10)
    ^[-1]--nopadding > &
      padding-x 0
      @media (max-width point-m)
        padding-x 0
    ^[-1]--padding-y > &
      padding-y basePadding
      @media (max-width point-m)
        padding-y (basePadding / 2)
    ^[-1]--big-padding > &
    ^[-1]--padding-big > & // @stylint ignore
      padding-x (basePadding * 2)
      @media (max-width point-m)
        padding-x (basePadding)
    ^[-1]--big-padding^[-1]--padding-y > &
    ^[-1]--padding-big^[-1]--padding-y > & // @stylint ignore
      padding-y (basePadding * 2)
      @media (max-width point-m)
        padding-y (basePadding)
    ^[-1]--padding-small > &
      padding-x (basePadding / 2)
    ^[-1]--big-padding^[-1]--padding-y > &
    ^[-1]--padding-big^[-1]--padding-y > & // @stylint ignore
      padding-y (basePadding * 2)
      @media (max-width point-m)
        padding-y (basePadding)
    sizes = 'hd', 'xl', 'l', 'm', 's', 'xs'
    for size in sizes
      &--{size}-hidden
        @extend .hidden-{size}
