mixin listAdvantages(list)
  ul.list-advantages&attributes(attributes)
    each item in list
      li.list-advantages__item
        .list-advantages__title !{item.title}
        .list-advantages__body: +createElement(item.body)
