.header-mobile-switcher
  position relative
  display block
  width 100%
  height 3rem
  font-weight 500
  line-height 1
  text-decoration none
  color #333
  background-image svgImport('svg/hamburger.svg')
  background-repeat no-repeat
  background-position center
  @media screen and (min-width (point-l))
    display none
  &::before
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color #fff
    background-image svgImport('svg/close.svg')
    background-repeat no-repeat
    background-position center
    background-size contain
    opacity 0
    transition opacity .2s
  &--active::before
    opacity 1
    transition opacity .1s
