.slider-works
  &__slide
    display flex
    align-items stretch
    padding .25rem
    border 1px solid  rgba(#ccc, .5)
    & img
      width 100%
      height 100%
      object-fit contain //@stylint ignore
  .splide
    &__arrow
      width 3rem
      height 3rem
      background-color rgba(#fff, .5)
      backdrop-filter blur(8px)
      transition background-color .4s
      &:hover
        background-color rgba(#ccc, .75)
        transition background-color .1s
      svg
        width 1.75rem
        height 1.75rem
