.block-icon
  display flex
  flex-direction column
  align-items center
  text-align center
  &::before
    content ''
    width 8rem
    height 8rem
    background-repeat no-repeat
    background-position center
    background-size contain
  &--advantages-1::before
    background-image svgImport('svg/advantages-1.svg')
  &--advantages-2::before
    background-image svgImport('svg/advantages-2.svg')
  &--advantages-3::before
    background-image svgImport('svg/advantages-3.svg')
  &--advantages-4::before
    background-image svgImport('svg/advantages-4.svg')
      
  &__title
    margin-top 1.25rem
    font-weight bold
  &__body
    margin-top .5rem
    font-size font-s
    color var(--font-color-secondary)
