.text-marked
  font-size font-xl
  &--centered
    text-align center
  &--bold
    font-weight bold
  &--big
    font-size font-xxxl
  &--bigger
    font-size 2.5em
  &--color-green
    color #37b44a
  &--color-black
    color #333
