.form
  position relative
  &--sending
    &::before
      content ''
      position absolute
      inset 0
      z-index 5
      background-color rgba(#ffffff, .75)
    &::after
      content ''
      position absolute
      top 50%
      left 50%
      z-index 6
      width 2rem
      height 2rem
      border .25rem solid var(--link-color)
      border-bottom-color transparent
      border-radius 1rem
      opacity .75
      transform translate(-50%, -50%)
      animation formLoader
      animation-duration .4s
      animation-iteration-count infinite
      animation-timing-function linear
  &__message
    position absolute
    inset 0
    z-index 6
    display flex
    justify-content center
    align-items center
    background-color rgba(#ffffff, .75)
    backdrop-filter blur(4px)
    &--closing
      animation formMessageClose
      animation-duration .2s
  &__message-inner
    padding 2rem
    text-align center
    background-color #fff
@keyframes formLoader
  from
    transform translate(-50%, -50%) rotate(0)
  to
    transform translate(-50%, -50%) rotate(360deg)
@keyframes formMessageClose
  from
    opacity 1
  to
    opacity 0
