.header-navigation
  @media screen and (max-width point-l - 1)
    --top 6.875rem // @stylint ignore
    position absolute
    top var(--top)
    left 0
    z-index 200
    width 100%
    min-width 20rem
    height calc(100vh - var(--top))
    background-color #fff
    transition transform .2s
    transform translateX(-100%)
    transform-origin 0 0 0
    &--active
      transition transform .1s
      transform translateX(0)
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      transition background-color .2s
      & > a
        display block
        padding basePadding
        font-weight 500
        text-decoration none
        color var(--font-color)
        transition color .2s
      &:hover
        & > a
          color var(--link-color-hover)
          transition none
      &--parent
        & > a
          width calc(100% - 3rem)
      &--active > a
        color var(--link-color)
        &:hover
          color var(--link-color)
    &__sublist-switch
      display flex
      align-items center
      justify-content center
      width 3rem
      height 3rem
      background-image red
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid
        border-bottom 4px solid
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
    &__sublist
      display none
      width 100%
      &--active
        display block
    &__sublist-item
      & > a
        padding (basePadding/2) (basePadding)
        font-weight 400
        white-space nowrap
        color var(--nav-background)
        transition color .2s
      &:hover
        & > a
          color var(--color-link-hover)
          background-color transparent
          transition none
    &__sublist-switch
      display flex
      align-items center
      justify-content center
      width 3rem
      height 3rem
      background-image red
      &::after
        content ''
        display inline-block
        width basePadding
        height basePadding
        border-right 4px solid var(--font-color)
        border-bottom 4px solid var(--font-color)
        transform scaleY(.875) translateY(-25%) rotate(45deg)
      &--active
        &::after
          transform scaleY(.875) translateY(25%) rotate(-135deg)
    &__sublist
      display none
      width 100%
      &--active
        display block
    &__sublist-item
      & > a
        position relative
        display block
        padding-y (basePadding / 3 * 2)
        padding-right basePadding + 1rem
        padding-left (basePadding * 2)
        text-decoration none
        &:hover
          color var(--link-color-hover)
          background-color transparent
          transition none
      &--active > a
        color var(--link-color)
        background-color #fff
        &:hover
          color var(--link-color)
