.header-navigation
  @media screen and (min-width (point-l))
    &__list
      display flex
      flex-wrap wrap
    &__list-item
      position relative
      display flex
      flex-grow 1
      line-height 1
      transition background-color .2s
      & > a
        position relative
        display block
        width 100%
        padding basePadding
        font-size font-s
        font-weight bold
        text-align center
        text-decoration none
        color #ffffff
        transition background-color .2s
        &:hover
          background-color var(--link-color-hover)
          transition none
      &--active > a
        background-color #126824
    &__sublist
      position absolute
      top 52px
      left 0
      z-index 100
      width 18rem
      background-color #f1f4f5
      transform scaleY(0)
      transform-origin 0 0 0
      transition transform .4s

      ^[-1]__list-item:hover > &
        transition transform .1s
        transform scaleY(1)
        transform-origin 0 0 0
    &__sublist-item
      & > a
        position relative
        display block
        padding basePadding
        line-height 1
        text-decoration none
        color #fff
        &:hover
          color var(--link-color-hover)
      &:not(&--active)
        & > a:not(:hover)
          color #6b6b6b

      &--active > a
        color var(--link-color)
        background-color #fff
        &:hover
          color var(--link-color)

  .header__navigation--fixed &__list-item > a
    color #000
    background-color transparent
    transition color .2s
    &:hover
      color var(--link-color-hover)
      background-color #fff
  .header__navigation--fixed &__list-item--active
    background-color transparent
    > a
      color var(--link-color)
